<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Documents</title>
    <link rel="stylesheet" href="../assets/css/all-documents.css">
</head>

<body>
    <div class="all-documents">
        <div class="arrange-section">
            <div class="num-of-res">1250 kết quả cho tài liệu</div>
            <div class="arrange">
                <span>Sắp xếp theo:</span> <br>
                <select name="arra" id="arra">
                    <option value="1">Phù hợp nhất</option>
                    <option value="1">Mới nhất</option>
                </select>
            </div>
        </div>
        <div class="documents">
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>