<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Documents</title>
    <link rel="stylesheet" href="../assets/css/all-documents.css">
</head>

<body>
    <div class="all-documents">
        <div class="arrange-section">
            <div class="num-of-res">1250 kết quả cho tài liệu</div>
            <div class="arrange">
                <span>Sắp xếp theo:</span> <br>
                <select name="arra" id="arra">
                    <option value="1">Phù hợp nhất</option>
                    <option value="1">Mới nhất</option>
                </select>
            </div>
        </div>
        <div class="documents">
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/numpy.png" alt="numpy">
                </div>
                <div class="document-content-right">
                    <h3>Numpy - Thư Viện Mạnh Mẽ Cho Xử Lý Mảng và Ma Trận trong Python</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Numpy là thư viện Python vô cùng mạnh mẽ, đồng thời linh hoạt, giúp xử lý mảng và ma trận một
                        cách hiệu quả. Với cấu trúc ndarray và các phép toán tối ưu, Numpy là công cụ tuyệt vời cho việc
                        thực hiện đại số tuyến tính và các phép toán số học, làm nền tảng cho nhiều ứng dụng khoa học dữ
                        liệu và máy học.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/divide_and_conquer.jpg" alt="divide_and_conquer.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Chia để Trị: Sức Mạnh của Phương Pháp Giải Quyết Vấn Đề Trong Lập Trình</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python, C++, JavaScript</span>
                    <p>Phương pháp chia để trị là một kỹ thuật giải quyết vấn đề mạnh mẽ trong lập trình, đặc biệt hiệu
                        quả đối với các bài toán phức tạp. Bằng cách chia bài toán thành các phần nhỏ hơn, giải quyết
                        độc lập, và kết hợp chúng để tạo ra một giải pháp toàn cục, chia để trị mang lại hiệu suất và
                        tính hiệu quả. Khám phá cách thuật toán chia để trị định hình lại cách chúng ta giải quyết các
                        thách thức lập trình và tối ưu hóa hiệu suất trong giải thuật.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/decision_tree.webp" alt="decision_tree.webp">
                </div>
                <div class="document-content-right">
                    <h3>Cải Tiến Cây Quyết Định: Nghiên Cứu Mới Trong Học Máy</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Bài báo này tập trung vào việc cải tiến phương pháp cây quyết định trong lĩnh vực học máy. Chúng
                        tôi giới thiệu các kỹ thuật và mô hình mới nhằm nâng cao khả năng dự đoán và hiệu suất của cây
                        quyết định. Nghiên cứu của chúng tôi không chỉ làm rõ các cải tiến kỹ thuật mà còn đánh giá
                        chúng qua các thử nghiệm thực tế, mở ra những triển vọng mới trong lĩnh vực này.
                    </p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/web_programming.png" alt="web_programming.png">
                </div>
                <div class="document-content-right">
                    <h3>Lập Trình Web Cơ Bản: Xây Dựng Trang Web Đơn Giản từ Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Bắt đầu với HTML để xây dựng cấu trúc trang, sử dụng CSS để làm đẹp giao diện, và tích hợp
                        JavaScript để thêm tính năng tương tác. Bài viết này cung cấp cái nhìn tổng quan về lập trình
                        web cơ bản, giúp bạn bắt đầu hành trình tạo ra những trang web đầu tiên của mình.</p>
                </div>
            </div>
        </div>
        <ul class="change-page">
            <div class="icon">
                <i class="fa-solid fa-angle-left" oustyle="color: #000000;"></i>
            </div>
            <li><a href="#1">1</a></li>
            <li><a href="#2">2</a></li>
            <li><a href="#3">3</a></li>
            <li>...</li>
            <li><a href="">250</a></li>
            <div class="icon">
                <i class="fa-solid fa-angle-right" oustyle="color: #000000;"></i>
            </div>
        </ul>
    </div>
</body>

</html>