<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change username</title>
    <link rel="stylesheet" href="../assets/css/change-username.css">
</head>

<body>
    <div class="change-username">
        <div id="address">
            <span><a href="../homepage.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/my-account-info.html">THÔNG TIN TÀI KHOẢN</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/my-account-uname.html"><b>ĐỔI TÊN NGƯỜI DÙNG</b></a></span>
        </div>
        <div class="ur-info">
            <div class="selection">
                <ul>
                    <a href="../pages/my-account-info.html">
                        <li>Thông tin và liên hệ</li>
                    </a>
                    <a href="../pages/my-account-uname.html">
                        <li>Thay đổi tên người dùng</li>
                    </a>
                    <a href="">
                        <li>Thay đổi mật khẩu</li>
                    </a>
                </ul>
            </div>
            <div class="info-and-contact">
                <h1>THAY ĐỔI TÊN NGƯỜI DÙNG</h1>
                <p>Sau khi cập nhật tên người dùng, tên hiển thị trên hệ thống sẽ được thay đổi thanh tên người dùng
                    mới.</p>
                <span id="uname">Tên người dùng <span id="sign">*</span></span> <br>
                <input type="text" name="usname" id="usname" value="codepro104" placeholder="Tên người dùng"> <br>
                <button id="save">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</body>

<script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>

</html>