<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="../assets/css/change-password.css">
</head>

<body>
    <div class="change-password">
        <div id="address">
            <span><a href="../pages/homepage-user.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/my-account-info.html">THÔNG TIN TÀI KHOẢN</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/my-account-pass.html"><b>ĐỔI MẬT KHẨU</b></a></span>
        </div>
        <div class="ur-info">
            <div class="selection">
                <ul>
                    <a href="../pages/my-account-info.html">
                        <li>Thông tin và liên hệ</li>
                    </a>
                    <a href="../pages/my-account-uname.html">
                        <li>Thay đổi tên người dùng</li>
                    </a>
                    <a href="../pages/my-account-pass.html">
                        <li>Thay đổi mật khẩu</li>
                    </a>
                </ul>
            </div>
            <div class="info-and-contact">
                <h1>THAY ĐỔI MẬT KHẨU</h1>
                <div class="pass">
                    <span>Mật khẩu cũ</span> <br>
                    <input type="password" name="oldp" id="oldp" placeholder="Mật khẩu cũ">
                </div>
                <div class="pass">
                    <span>Mật khẩu mới</span> <span style="float: right;"><a href="../pages/forgot-password.html">Quên
                            mật khẩu?</a></span> <br>
                    <input type="password" name="newp" id="newp" placeholder="Mật khẩu mới">
                </div>
                <div class="pass">
                    <span>Xác nhận mật khẩu mới</span> <br>
                    <input type="password" name="cfp" id="cfp" placeholder="Xác nhận mật khẩu mới">
                </div>
                <button id="save">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</body>

<script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>

</html>