<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="comunity">
        <div id="address">
            <span><a href="../pages/homepage.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/courses.html"><b>CỘNG ĐỒNG</b></a></span>
        </div>
        <section class="slidebar">
            <div class="container">
                <img src="../assets/images/CodeProLogo.png" alt="">
                <p>Hy vọng bạn có thể tìm được câu  <br>
                    trả lời cho mình ở đây!</p>
                <div class="question">
                    <input type="text" placeholder="Nhập câu hỏi của bạn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </section>
        <div class="grid-container">
            <section class="danhmuc">
                <h1>Danh mục</h1>
                <p style="color: rgb(0, 0, 0); background-color: rgba(175, 175, 255, 0.984); font-weight: bolder;">Câu hỏi</p>
                <p>Chủ đề</p>
                <p>Người dùng</p>
            </section>
            <section class="toanbocauhoi">
                <div class="container">
                    <h1>Tất cả câu hỏi</h1>
                    <button>Đặt câu hỏi</button>
                </div>
                <div class="more-info">
                    <p class="soluong">2,450,231 câu hỏi</p>
                    <table>
                        <tr>
                            <td>Tuần</td>
                            <td class="select">Tháng</td>
                            <td>Quý</td>
                        </tr>
                    </table>
                    <select class="select-box" id="arrange">
                        <option value="">Mới nhất</option>
                        <option value="type2">Trả lời nhiều nhất</option>
                        <option value="type2">Bình chọn nhiều nhất</option>
                        <option value="type2">Xem nhiều nhất</option>
                    </select>
                </div>
                <div class="ds-cauhoi">
                    <div class="cauhoi">
                        <div class="info">
                            <img src="../assets/images/aboutus/thutrang.jpg" alt="">
                            <p><b>@thutrangdothi</b></p>
                        </div>
                        <div class="noidung">
                            <p class="title">Cách học AI một cách hiệu quả</p>
                            <p>Em mới tiếp cận đến AI, không biết lộ trình học như thế nào mới hợp lý ...</p>
                            <div class="list-hastag">
                                <p class="hastag">#AI</p>
                                <p class="hastag">#ML</p>
                                <p class="hastag">#Python</p>
                            </div>
                        </div>
                        <div class="thongke">
                            <p>0 bình chọn</p>
                            <p>0 câu trả lời</p>
                            <p>2 lượt xem</p>
                        </div>
                    </div>
                    <div class="cauhoi">
                        <div class="info">
                            <img src="../assets/images/aboutus/hoangphuc.jpg" alt="">
                            <p><b>@PhamHoangPhuc</b></p>
                        </div>
                        <div class="noidung">
                            <p class="title">Neural Network cần những thông số gì?</p>
                            <p>Đọc trên machinelearningcoban thì mình thấy là sẽ cần 4 thông số, như ...</p>
                            <div class="list-hastag">
                                <p class="hastag">#NeuralNetwork</p>
                                <p class="hastag">#ML</p>
                                <p class="hastag">#Python</p>
                            </div>
                        </div>
                        <div class="thongke">
                            <p>3 bình chọn</p>
                            <p>4 câu trả lời</p>
                            <p>10 lượt xem</p>
                        </div>
                    </div>
                    <div class="cauhoi">
                        <div class="info">
                            <img src="../assets/images/homepage/baekhyun.jpg" alt="">
                            <p><b>@EXOL</b></p>
                        </div>
                        <div class="noidung">
                            <p class="title">Fix bug HTML/CSS</p>
                            <p>Mình đang code bằng HTM/CSS có sử dụng thêm js để thêm hiệu ứng ...</p>
                            <div class="list-hastag">
                                <p class="hastag">#HTML/CSS</p>
                                <p class="hastag">#Js</p>
                                <p class="hastag">#Web Dev</p>
                            </div>
                        </div>
                        <div class="thongke">
                            <p>1 bình chọn</p>
                            <p>0 câu trả lời</p>
                            <p>1 lượt xem</p>
                        </div>
                    </div>
                    <div class="cauhoi">
                        <div class="info">
                            <img src="../assets/images/homepage/hoangduyen.jpg" alt="">
                            <p><b>@duyen_my_tho</b></p>
                        </div>
                        <div class="noidung">
                            <p class="title">Giúp em với ạ</p>
                            <p>Đây là code C++ của em. Em có sử dụng con trỏ để trỏ tới biến đầu trong ...</p>
                            <div class="list-hastag">
                                <p class="hastag">#C++</p>
                                <p class="hastag">#Stack</p>
                            </div>
                        </div>
                        <div class="thongke">
                            <p>0 bình chọn</p>
                            <p>0 câu trả lời</p>
                            <p>2 lượt xem</p>
                        </div>
                    </div>
                    <div class="cauhoi">
                        <div class="info">
                            <img src="../assets/images/aboutus/thutrang.jpg" alt="">
                            <p><b>@thutrangdothi</b></p>
                        </div>
                        <div class="noidung">
                            <p class="title">Tìm tài liệu</p>
                            <p>Em đang tìm hiểu về model De-Makeup và sử dụng histogram trong tie...</p>
                            <div class="list-hastag">
                                <p class="hastag">#AI</p>
                                <p class="hastag">#ML</p>
                                <p class="hastag">#Python</p>
                            </div>
                        </div>
                        <div class="thongke">
                            <p>0 bình chọn</p>
                            <p>0 câu trả lời</p>
                            <p>2 lượt xem</p>
                        </div>
                    </div>
                </div>
                <ul class="change-page">
                    <div class="icon">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <li><a href="#1">1</a></li>
                    <li><a href="#2">2</a></li>
                    <li><a href="#3">3</a></li>
                    <li>...</li>
                    <li><a href="">10</a></li>
                    <div class="icon">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </ul>
            </section>
        </div>
    </div>
</body>
</html>