<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact us</title>

    <link rel="stylesheet" href="../assets/css/contact-us.css">
</head>

<body>
    <div class="contact-us">
        <div class="ct-form">
            <div class="input-region">
                <h3>Liên hệ với chúng tôi</h3>
                <span class="sect">Số điện thoại: </span> <span class="ss">*</span> <br>
                <input type="tel" name="phone"> <br>
                <span class="sect">Email của bạn: </span> <span class="ss">*</span> <br>
                <input type="email" name="email" id="" value="codepro@uit.edu.vn"> <br>
                <span class="sect">Lời nhắn của bạn: </span> <span class="ss">*</span> <br>
                <textarea name="" id="" cols="30" rows="6"></textarea> <br>
                <span class="sect">Mức độ ưu tiên: </span> <br>
                <select name="priority" id="">
                    <option value="1">Cao</option>
                    <option value="2" selected>Bình thường</option>
                    <option value="3">Thấp</option>
                </select> <br>
                <button id="sentc">Gửi</button>
            </div>
            <div class="urgent">
                Trong trường hợp cần trợ giúp khẩn cấp, vui lòng liên hệ với chúng tôi qua: <br>
                <a href="mailto:support@codepro">support@codepro</a>
            </div>
        </div>
    </div>
</body>

</html>