<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Documents</title>
    <link rel="stylesheet" href="../assets/css/content-documents.css">
</head>

<body>
    <div class="content-documents">
        <div id="address">
            <span><a href="../homepage.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../documents.html"><b>TÀI LIỆU</b></a></span>
        </div>
        <div class="flex">
            <div id="docs-filter"></div>
            <div id="all-documents" class="ddisplay"></div>
            <div id="python-documents" class="ddisplay" style="display: none;"></div>
            <div id="lang-documents" class="ddisplay" style="display: none;"></div>
        </div>
    </div>
</body>

<script src="../assets/js/content-documents.js"></script>
<script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>

</html>