<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết khóa học</title>
    <link rel="stylesheet" href="../assets/css/course-detail.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
    <script type="text/JavaScript" src="../assets/js/ChiTietKhoaHoc.js"></script>
</head>
<body>
    <div class="course-general-info">
        <div class="overlay"></div>
        <img src="../assets/images/courses/course-background.jpg" alt="">
        <div class="logo">
            <img src="../assets/images/favicon.png" alt="">
            <img src="../assets/images/[LOGO]CS.png" alt="">
        </div>
        <p class="course-name">AI CHO NGƯỜI MỚI BẮT ĐẦU</p>
        <div class="info">
            <table>
                <tr>
                    <td style="border-right: 2px solid black;">
                        <i class="fa-solid fa-building-columns" style="color: #000000;"></i>
                        Andrew Ng
                    </td>
                    <td style="border-right: 2px solid black;">
                        <i class="fa-solid fa-layer-group" style="color: #000000;"></i>
                        Cơ bản
                    </td>
                    <td style="border-right: 2px solid black;">
                        <i class="fa-solid fa-language" style="color: #000000;"></i>
                        Tiếng Việt
                    </td>
                    <td>
                        <i class="fa-regular fa-hourglass-half" style="color: #000000;"></i>
                        6 giờ học
                    </td>
                </tr>
            </table>
        </div>
        <div class="register">
            <p>Khóa học miễn phí được đăng tải <br>
                độc quyền bởi CodePro</p>
            <div class="dangky">Bắt đầu học</div>
        </div>
    </div>
    <div class="course-detail">
        <div class="danhmuc">
            <table>
                <tr>
                    <td onclick="changeColor(this)">Tổng quan</td>
                    <td id="danhmuc" onclick="changeColor(this)">Bài học</td>
                    <td id="danhmuc" onclick="changeColor(this)">Đánh giá</td>
                    <td id="danhmuc" onclick="changeColor(this)">Kết quả</td>
                </tr>
            </table>
        </div>
        <div class="tongquan">
            <h1>Tổng quan</h1>
            <div class="container">
                <div class="mota">
                    <h2>Mô tả khóa học</h2>
                    <p>
                        AI không chỉ dành cho các kỹ sư. "AI cho mọi người", một khóa học phi kỹ thuật, sẽ giúp bạn hiểu các công nghệ AI và phát hiện các cơ hội để áp dụng AI vào các vấn đề trong tổ chức của riêng bạn. Bạn sẽ thấy các ví dụ về những gì AI ngày nay có thể - và không thể - làm. Cuối cùng, bạn sẽ hiểu AI đang tác động đến xã hội như thế nào và làm thế nào để điều hướng thông qua sự thay đổi công nghệ này. <br>
                    </p>
                    <p>
                        Nếu bạn là một chuyên gia kinh doanh phi kỹ thuật, "AI cho mọi người" sẽ giúp bạn hiểu cách xây dựng chiến lược AI bền vững. Nếu bạn là một kỹ sư học máy hoặc nhà khoa học dữ liệu, đây là khóa học để yêu cầu người quản lý, VP hoặc CEO của bạn tham gia nếu bạn muốn họ hiểu những gì bạn có thể (và không thể!) làm.
                    </p>
                </div>
                <div class="spacer"></div>
                <div class="kynang">
                    <h2>Kỹ năng đạt được</h2>
                    <ul>
                        <li>Python</li>
                        <progress value="50" max="100"></progress>
                        <li>Machine Learning</li>
                        <progress value="40" max="100"></progress>
                        <li>Deep Learning</li>
                        <progress value="40" max="100"></progress>
                        <li>Anaconda</li>
                        <progress value="70" max="100"></progress>
                        <li>Jupyter Notebook</li>
                        <progress value="80" max="100"></progress>
                    </ul>
                </div>
            </div>
            <div class="noidung">
                <h2>Những gì bạn sẽ học</h2>
                <p>AI không chỉ dành cho các kỹ sư. Nếu bạn muốn tổ chức của mình trở nên tốt hơn trong việc sử dụng AI, đây là khóa học để nói với mọi người - đặc biệt là các đồng nghiệp không chuyên về kỹ thuật của bạn - hãy tham gia.</p>
                <p>Trong khóa học này, bạn sẽ học:</p>
                <ul>
                    <li>Ý nghĩa đằng sau các thuật ngữ AI phổ biến, bao gồm mạng thần kinh, học máy, học sâu và khoa học dữ liệu</li>
                    <li>Những gì AI thực tế có thể và không thể làm</li>
                    <li>Làm thế nào để phát hiện các cơ hội để áp dụng AI vào các vấn đề trong tổ chức của riêng bạn</li>
                    <li>Cảm giác như thế nào khi xây dựng các dự án học máy và khoa học dữ liệu</li>
                    <li>Cách làm việc với nhóm AI và xây dựng chiến lược AI trong công ty của bạn</li>
                    <li>Làm thế nào để điều hướng các cuộc thảo luận đạo đức và xã hội xung quanh AI</li>   
                </ul>
                <p>Mặc dù khóa học này phần lớn là phi kỹ thuật, các kỹ sư cũng có thể tham gia khóa học này để tìm hiểu các khía cạnh kinh doanh của AI.</p>
            </div>
        </div>
        <h1>Danh sách bài học</h1>
        <div class="ds-baihoc">
            <div class="chitiet">
                <div class="tieude" id="tieude1" onclick="hideLesson('baihoc1')">
                    Tuần 1: AI là gì
                    <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                </div> 
                <div class="baihoc" id="baihoc1" style="display: none;">
                    <div class="tiet" id="tiet1">
                        <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                        Giới thiệu
                        <p>2 phút</p>
                    </div>
                    <div class="tiet" id="tiet1">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Máy học
                        <p>15 phút</p>
                    </div>
                    <div class="tiet" id="tiet1">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Dữ liệu là gì
                        <p>12 phút</p>
                    </div>
                    <div class="tiet" id="tiet1">
                        <i class="fa-regular fa-video" style="color: #000000;"></i>
                        Tổng kết tuần 1
                        <p>20 phút</p>
                    </div>
                </div>
                <div class="baihoc">
                    <div class="tieude" id="tieude2">
                        Tuần 2: Xây dựng dự án AI
                        <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                    </div> 
                    <div class="tiet" id="tiet2">
                        <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                        Quy trình làm việc của dự án Machine Learning
                    </div>
                    <div class="tiet" id="tiet2">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Quy trình làm việc của một dự án Khoa học dữ liệu
                    </div>
                    <div class="tiet" id="tiet2">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Cách chọn dự án AI
                    </div>
                    <div class="tiet" id="tiet2">
                        <i class="fa-regular fa-video" style="color: #000000;"></i>
                        Tổng kết tuần 2
                    </div>
                </div>
                <div class="baihoc">
                    <div class="tieude" id="tieude3">
                        Tuần 3: AI trong công ty của bạn
                        <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                    </div> 
                    <div class="tiet" id="tiet3">
                        <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                        Nghiên cứu điển hình: Loa thông minh
                    </div>
                    <div class="tiet" id="tiet3">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Nghiên cứu điển hình: Xe tự lái
                    </div>
                    <div class="tiet" id="tiet3">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Thực hiện bước đầu tiên của bạn trong AI
                    </div>
                    <div class="tiet" id="tiet3">
                        <i class="fa-regular fa-video" style="color: #000000;"></i>
                        Tổng kết tuần 3
                    </div>
                </div>
                <div class="baihoc">
                    <div class="tieude" id="tieude3">
                        Tuần 4: AI và Xã hội
                        <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                    </div> 
                    <div class="tiet" id="tiet3">
                        <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                        Một cái nhìn thực tế về AI
                    </div>
                    <div class="tiet" id="tiet3">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Phân biệt đối xử / Thiên vị
                    </div>
                    <div class="tiet" id="tiet3">
                        <i class="fa-solid fa-video" style="color: #000000;"></i>
                        Tấn công đối thủ
                    </div>
                    <div class="tiet" id="tiet3">
                        <i class="fa-regular fa-video" style="color: #000000;"></i>
                        Tổng kết tuần 4
                    </div>
                </div>
            </div>
            <div class="giangvien">
                Andrew Ng
            </div>
        </div>
        <div class="comment">
            <h1>Đánh giá của học viên</h1>
            <div class="hocvien">
                <i class="fa-solid fa-quote-left" style="color: #000000;"></i>
                <div class="quote">
                    Các khóa học trên Coursera đóng một vai trò quan trọng trong quá trình chuyển đổi nghề nghiệp của tôi. Tôi đã học được những kỹ năng giúp tôi rất nhiều trong các cuộc phỏng vấn của mình.
                </div>
                <div class="info">
                    Ujjwal Jain <br>
                    CodePro's student <br>
                    Chicago, USA <br>
                </div>
                <i class="fa-solid fa-quote-left" style="color: #000000;"></i>
            </div>
            <div class="hocvien">
                <i class="fa-solid fa-quote-left" style="color: #000000;"></i>
                <div class="quote">
                    Tôi trực tiếp áp dụng các khái niệm và kỹ năng tôi học được từ các khóa học của mình vào một dự án mới thú vị trong công việc.
                </div>
                <div class="info">
                    Thu Trang <br>
                    CodePro's student <br>
                    Nha Trang, Viet Nam <br>
                </div>
                <i class="fa-solid fa-quote-left" style="color: #000000;"></i>
            </div>
            <div class="hocvien">
                <i class="fa-solid fa-quote-left" style="color: #000000;"></i>
                <div class="quote">
                    Chuyên ngành tôi đã hoàn thành là một trải nghiệm học tập mở mang tầm mắt. Nó đã thay đổi quan điểm của tôi về những cách tôi có thể giúp thúc đẩy lĩnh vực của mình.
                </div>
                <div class="info">
                    Fu Fan <br>
                    CodePro's student <br>
                    Beijing, China <br>
                </div>
                <i class="fa-solid fa-quote-left" style="color: #000000;"></i>
            </div>
        </div>
        <div class="result">
            <h1>Chứng nhận</h1>
            <img src="../assets/images/certificate.jpg" alt="">
        </div>
    </div>
</body>
</html>