<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <title>Chi tiết khóa học</title>
    <link rel="stylesheet" href="../assets/css/course-detail.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
    <script type="text/JavaScript" src="../assets/js/course-detail.js"></script>
</head>
<body>
    <div class="detail">
        <div class="address">
            <a href="../pages/homepage-user.html">TRANG CHỦ</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="../pages/courses-user.html">KHÓA HỌC</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="../pages/course-detail.html"><b>AI CHO NGƯỜI MỚI BẮT ĐẦU</b></a>
        </div>
        
        <section class="course-general-info">
            <div class="logo">
                <img src="../assets/images/favicon.png" alt="">
                <img src="../assets/images/[LOGO]CS.png" alt="">
            </div>
            <p class="course-name">AI CHO NGƯỜI MỚI BẮT ĐẦU</p>
            <div class="register">
                <p>Khóa học miễn phí được đăng tải <br>
                    độc quyền bởi CodePro</p>
                <a href="../pages/course-lesson.html" class="dangky">Bắt đầu học</a>
            </div>
        </section>

        <section class="info">
            <table>
                <tr>
                    <td style="border-right: 2px solid black;">
                        <i class="fa-solid fa-building-columns" style="color: #000000;"></i>
                        Andrew Ng
                    </td>
                    <td style="border-right: 2px solid black;">
                        <i class="fa-solid fa-layer-group" style="color: #000000;"></i>
                        Cơ bản
                    </td>
                    <td style="border-right: 2px solid black;">
                        <i class="fa-solid fa-language" style="color: #000000;"></i>
                        Tiếng Việt
                    </td>
                    <td>
                        <i class="fa-regular fa-hourglass-half" style="color: #000000;"></i>
                        6 giờ học
                    </td>
                </tr>
            </table>
        </section>

        <div class="course-detail">

            <section class="danhmuc">
                <table>
                    <tr>
                        <td id="danhmuc" onclick="changeColor(this, 'tongquan')" class="select">Tổng quan</td>
                        <td id="danhmuc" onclick="changeColor(this, 'ds-baihoc')">Bài học</td>
                        <td id="danhmuc" onclick="changeColor(this, 'comment')">Đánh giá</td>
                        <td id="danhmuc" onclick="changeColor(this, 'result')">Kết quả</td>
                    </tr>
                </table>
            </section>

            <section id="tongquan" class="tongquan">
                <h1>Tổng quan</h1>
                <div class="container">
                    <div class="mota">
                        <h2>Mô tả khóa học</h2>
                        <p>
                            AI không chỉ dành cho các kỹ sư. "AI cho mọi người", một khóa học phi kỹ thuật, sẽ giúp bạn hiểu các công nghệ AI và phát hiện các cơ hội để áp dụng AI vào các vấn đề trong tổ chức của riêng bạn. Bạn sẽ thấy các ví dụ về những gì AI ngày nay có thể - và không thể - làm. Cuối cùng, bạn sẽ hiểu AI đang tác động đến xã hội như thế nào và làm thế nào để điều hướng thông qua sự thay đổi công nghệ này. <br>
                        </p>
                        <p>
                            Nếu bạn là một chuyên gia kinh doanh phi kỹ thuật, "AI cho mọi người" sẽ giúp bạn hiểu cách xây dựng chiến lược AI bền vững. Nếu bạn là một kỹ sư học máy hoặc nhà khoa học dữ liệu, đây là khóa học để yêu cầu người quản lý, VP hoặc CEO của bạn tham gia nếu bạn muốn họ hiểu những gì bạn có thể (và không thể!) làm.
                        </p>
                    </div>
                    <div class="spacer"></div>
                    <div class="kynang">
                        <h2>Kỹ năng đạt được</h2>
                        <ul>
                            <li>Python</li>
                            <progress value="50" max="100"></progress>
                            <li>Machine Learning</li>
                            <progress value="40" max="100"></progress>
                            <li>Deep Learning</li>
                            <progress value="40" max="100"></progress>
                            <li>Anaconda</li>
                            <progress value="70" max="100"></progress>
                            <li>Jupyter Notebook</li>
                            <progress value="80" max="100"></progress>
                        </ul>
                    </div>
                </div>
                <div class="noidung">
                    <h2>Những gì bạn sẽ học</h2>
                    <p>AI không chỉ dành cho các kỹ sư. Nếu bạn muốn tổ chức của mình trở nên tốt hơn trong việc sử dụng AI, đây là khóa học để nói với mọi người - đặc biệt là các đồng nghiệp không chuyên về kỹ thuật của bạn - hãy tham gia.</p>
                    <p>Trong khóa học này, bạn sẽ học:</p>
                    <ul>
                        <li>Ý nghĩa đằng sau các thuật ngữ AI phổ biến, bao gồm mạng thần kinh, học máy, học sâu và khoa học dữ liệu</li>
                        <li>Những gì AI thực tế có thể và không thể làm</li>
                        <li>Làm thế nào để phát hiện các cơ hội để áp dụng AI vào các vấn đề trong tổ chức của riêng bạn</li>
                        <li>Cảm giác như thế nào khi xây dựng các dự án học máy và khoa học dữ liệu</li>
                        <li>Cách làm việc với nhóm AI và xây dựng chiến lược AI trong công ty của bạn</li>
                        <li>Làm thế nào để điều hướng các cuộc thảo luận đạo đức và xã hội xung quanh AI</li>   
                    </ul>
                    <p>Mặc dù khóa học này phần lớn là phi kỹ thuật, các kỹ sư cũng có thể tham gia khóa học này để tìm hiểu các khía cạnh kinh doanh của AI.</p>
                </div>
            </section>

            <section id="ds-baihoc" class="container-dsbaihoc">
                <h1>Danh sách bài học</h1>
                <div class="ds-baihoc">
                    <div class="chitiet">
                        <div class="tieude" id="tieude1" onclick="hideLesson('baihoc1')">
                            Tuần 1: AI là gì
                            <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                            <p class="statistic">1 document, 2 videos, 1 quiz </p>
                        </div> 
                        <div class="baihoc" id="baihoc1" style="display: none;">
                            <a href="">
                                <div class="tiet" id="tiet1">
                                    <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                                    Giới thiệu
                                    <p>2 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet1">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Máy học
                                    <p>15 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet1">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Dữ liệu là gì
                                    <p>12 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet1">
                                    <i class="fa-solid fa-file-pen" style="color: #000000;"></i>
                                    Tổng kết tuần 1
                                    <p>20 phút</p>
                                </div>
                            </a>
                        </div>
                        <div class="tieude" id="tieude2" onclick="hideLesson('baihoc2')">
                            Tuần 2: Xây dựng dự án AI
                            <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                            <p class="statistic">1 document, 2 videos, 1 quiz </p>
                        </div> 
                        <div class="baihoc" id="baihoc2" style="display: none;">
                            <a href="">
                                <div class="tiet" id="tiet2">
                                    <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                                    Quy trình làm việc của dự án Machine Learning
                                    <p>2 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet2">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Quy trình làm việc của một dự án Khoa học dữ liệu
                                    <p>10 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet2">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Cách chọn dự án AI
                                    <p>15 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet2">
                                    <i class="fa-solid fa-file-pen" style="color: #000000;"></i>
                                    Tổng kết tuần 2
                                    <p>12 phút</p>
                                </div>
                            </a>
                        </div>
                        <div class="tieude" id="tieude3" onclick="hideLesson('baihoc3')"> 
                            Tuần 3: AI trong công ty của bạn
                            <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                            <p class="statistic">1 document, 2 videos, 1 quiz </p>
                        </div> 
                        <div class="baihoc" id="baihoc3" style="display: none;">
                            <a href="">
                                <div class="tiet" id="tiet3">
                                    <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                                    Nghiên cứu điển hình: Loa thông minh
                                    <p>20 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet3">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Nghiên cứu điển hình: Xe tự lái
                                    <p>20 phút</p>
                                </div>
                            </a>   
                            <a href="">
                                <div class="tiet" id="tiet3">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Thực hiện bước đầu tiên của bạn trong AI
                                    <p>12 phút</p>
                                </div>
                            </a> 
                            <a href="">
                                <div class="tiet" id="tiet3">
                                    <i class="fa-solid fa-file-pen" style="color: #000000;"></i>
                                    Tổng kết tuần 3
                                    <p>15 phút</p>
                                </div>
                            </a>
                        </div>
                        <div class="tieude" id="tieude4" onclick="hideLesson('baihoc4')">
                            Tuần 4: AI và Xã hội
                            <i class="fa-solid fa-chevron-down" style="color: #000000;"></i>
                            <p class="statistic">1 document, 2 videos, 1 quiz </p>
                        </div>
                        <div class="baihoc" id="baihoc4" style="display: none;">
                            <a href="">
                                <div class="tiet" id="tiet4">
                                    <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                                    Một cái nhìn thực tế về AI
                                    <p>10 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet4">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Phân biệt đối xử / Thiên vị
                                    <p>12 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet4">
                                    <i class="fa-solid fa-video" style="color: #000000;"></i>
                                    Tấn công đối thủ
                                    <p>10 phút</p>
                                </div>
                            </a>
                            <a href="">
                                <div class="tiet" id="tiet4">
                                    <i class="fa-solid fa-file-pen" style="color: #000000;"></i>
                                    Tổng kết tuần 4
                                    <p>15 phút</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="giangvien">
                        <img src="../assets/images/courses/author/tacgia11.jpg" alt="">
                        <p class="tengiangvien">Andrew Ng</p>
                        <div class="chitietgiangvien">
                            <ul class="leftul">
                                <li><b>Institutions</b></li>
                                <li><b>Role</b></li>
                                <li><b>Spouse</b></li>
                                <li><b>Known for</b></li>
                            </ul>
                            <ul class="rightul">
                                <li> Stanford University</li>
                                <li> Professor</li>
                                <li> Carol Reiley (m. 2014)</li>
                                <li> Deep Learning, MOOC</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="comment" class="comment">
                <h1>Đánh giá của học viên</h1>
                <div class="container">
                    <div class="tonghopdanhgia">
                       <div class="tonghop">
                            <p class="soluong">4.6</p>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                                <i class="fa-sharp fa-solid fa-star"></i>
                            </div>
                            <p class="more-info">17,9N lượt đánh giá</p>
                       </div>
                       <div class="chitietsao">
                            <ul>
                                <li>
                                    5
                                    <progress value="79" max="100"></progress>
                                </li>
                                <li>
                                    4
                                    <progress value="79" max="100"></progress>
                                </li>
                                <li>
                                    3
                                    <progress value="65" max="100"></progress>
                                </li>
                                <li>
                                    2
                                    <progress value="20" max="100"></progress>
                                </li>
                                <li>
                                    1
                                    <progress value="10" max="100"></progress>
                                </li>
                            </ul>
                       </div>
                    </div>
                    <div class="chitietdanhgia">
                        <div class="hocvien">
                            <div class="hv-info">
                                <img src="../assets/images/homepage/baekhyun.jpg" alt="">
                                <p>
                                    <b style="font-size:x-large; color: rgb(2, 2, 127);">Ujjwal Jain Mohammed </b><br> 
                                    Software Developer <br>
                                    Chicago, USA
                                </p>
                                <div class="react">
                                    <div class="icon">
                                        <i class="fa-brands fa-upwork"></i>
                                        <i class="fa-regular fa-thumbs-up" style="color: rgb(0, 0, 153)"></i>
                                        <i class="fa-solid fa-flag" style="color: rgb(231, 0, 0)"></i>
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="quote">
                                Các khóa học trên CodePro đóng một vai trò quan trọng trong quá trình chuyển đổi nghề nghiệp của tôi. Tôi đã học được những kỹ năng giúp tôi rất nhiều trong các cuộc phỏng vấn của mình.
                            </p>
                        </div>
                        <div class="hocvien">
                            <div class="hv-info">
                                <img src="../assets/images/homepage/hoangduyen.jpg" alt="">
                                <p>
                                    <b style="font-size:x-large; color: rgb(2, 2, 127);"> Thu Trang</b><br> 
                                    CodePro's student <br>
                                    Nha Trang, Viet Nam
                                </p>
                                <div class="react">
                                    <div class="icon">
                                        <i class="fa-brands fa-upwork"></i>
                                        <i class="fa-regular fa-thumbs-up" style="color: rgb(0, 0, 153)"></i>
                                        <i class="fa-solid fa-flag" style="color: rgb(231, 0, 0)"></i>
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="quote">
                                Tôi trực tiếp áp dụng các khái niệm và kỹ năng tôi học được từ các khóa học của mình vào một dự án mới thú vị trong công việc.
                            </p>
                        </div>

                        <div class="hocvien">
                            <div class="hv-info">
                                <img src="../assets/images/homepage/dareum.jpg" alt="">
                                <p>
                                    <b style="font-size:x-large; color: rgb(2, 2, 127);"> Hua Chen Yu</b><br> 
                                    CodePro's student <br>
                                    Beijing, China
                                </p>
                                <div class="react">
                                    <div class="icon">
                                        <i class="fa-brands fa-upwork"></i>
                                        <i class="fa-regular fa-thumbs-up" style="color: rgb(0, 0, 153)"></i>
                                        <i class="fa-solid fa-flag" style="color: rgb(231, 0, 0)"></i>
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="quote">
                                Chuyên ngành tôi đã hoàn thành là một trải nghiệm học tập mở mang tầm mắt. Nó đã thay đổi quan điểm của tôi về những cách tôi có thể giúp thúc đẩy lĩnh vực của mình.
                            </p>
                        </div>      
                    </div>
                </div>
            </section>

            <section id="result" class="result">
                <h1>Chứng nhận sau khi hoàn thành khóa học</h1>
                <p>Bạn sẽ nhận được chứng nhận từ <b>CodePro</b> sau khi hoàn thành 80% khóa học</p>
                <img src="../assets/images/certificate.jpg" alt="">
            </section>

        </div>
    </div>
</body>
</html>