<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
    <link rel="stylesheet" href="../assets/css/all-courses.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="all-courses">
        <h1>
            Tất cả khóa học về Trí tuệ nhân tạo
            <div class="arrange">
                <label for="arrange">Sắp xếp:</label>
                <select id="arrange">
                    <option value="">Mới nhất</option>
                    <option value="type1">Phù hợp nhất</option>
                    <option value="type2">Được học nhiều nhất</option>
                    <option value="type3">Ngắn nhất</option>
                </select>
            </div>
        </h1>
        <div class="grid-container">
            <div class="column">
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
                <div class="course">
                    <img src="../assets/images/courses/forucourse11.jpg" alt="">
                    <a href="">AI cho mọi người</a>
                    <p class="info">Andrew Ng</p>
                    <p class="time">70 hours</p>
                    <div class="student">
                        <p class="num_student">12345</p>
                        <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                    </div>
                </div>
            </div>
        </div>
        <ul class="change-page">
            <li><i class="fa-solid fa-angle-left" oustyle="color: #000000;"></i></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="">6</a></li>
            <li><i class="fa-solid fa-angle-right" oustyle="color: #000000;"></i></li>
        </ul>
    </div>
</body>

</html>