<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="../assets/css/filter.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="filter">
            <h1>
                <label class="switch-on-off">
                    <input type="checkbox" id="switch-on-off" onchange="toggleElement()">
                    <span class="slider"></span>
                </label>
                <p class="header-title">Bộ lọc</p>
            </h1>
            <div id="content">
                <div class="condition">
                    <h2 onclick="hideListofCondition('topic-content')">
                        <i class="fa-solid fa-caret-down" oustyle="color: #000000;"></i>
                        <p class="title">Chủ đề</p>
                    </h2>
                    <ul id="topic-content" style="display: none">
                        <li onclick="hideOtherCheckboxes(this, 'topic1')">
                            <input type="checkbox" id="topic1" name="topic" onclick="hideOtherCheckboxes(this, 'topic')"
                                checked="checked">
                            <label for="topic1">Chọn tất cả</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'topic2')">
                            <input type="checkbox" id="topic2" name="topic"
                                onclick="hideOtherCheckboxes(this, 'topic')">
                            <label for="topic2">Trí tuệ nhân tạo</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'topic3')">
                            <input type="checkbox" id="topic3" name="topic"
                                onclick="hideOtherCheckboxes(this, 'topic')">
                            <label for="topic3">Phát triển web</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'topic4')">
                            <input type="checkbox" id="topic4" name="topic"
                                onclick="hideOtherCheckboxes(this, 'topic')">
                            <label for="topic4">An ninh mạng</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'topic5')">
                            <input type="checkbox" id="topic5" name="topic"
                                onclick="hideOtherCheckboxes(this, 'topic')">
                            <label for="topic5">Phát triển trò chơi</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'topic6')">
                            <input type="checkbox" id="topic6" name="topic"
                                onclick="hideOtherCheckboxes(this, 'topic')">
                            <label for="topic6">Phân tích dữ liệu</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'topic7')">
                            <input type="checkbox" id="topic7" name="topic"
                                onclick="hideOtherCheckboxes(this, 'topic')">
                            <label for="topic7">Điện toán đám mây</label>
                        </li>
                    </ul>

                </div>
                <div class="condition">
                    <h2 onclick="hideListofCondition('program-language-content')">
                        <i class="fa-solid fa-caret-down" oustyle="color: #000000;"></i>
                        <p class="title">Ngôn ngữ lập trình</p>
                    </h2>
                    <ul id="program-language-content" style="display: none">
                        <li onclick="hideOtherCheckboxes(this, 'program-language1')">
                            <input type="checkbox" id="program-language1" name="program-language" checked="checked"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language1">Chọn tất cả</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'program-language2')">
                            <input type="checkbox" id="program-language2" name="program-language"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language2">Python</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'program-language3')">
                            <input type="checkbox" id="program-language3" name="program-language"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language3">HTML & CSS</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'program-language4')">
                            <input type="checkbox" id="program-language4" name="program-language"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language4">JavaScript</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'program-language5')">
                            <input type="checkbox" id="program-language5" name="program-language"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language5">C/C++</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'program-language6')">
                            <input type="checkbox" id="program-language6" name="program-language"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language6">C#</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'program-language7')">
                            <input type="checkbox" id="program-language7" name="program-language"
                                onclick="hideOtherCheckboxes(this, 'program-language')">
                            <label for="program-language7">PHP</label>
                        </li>
                    </ul>
                </div>
                <div class="condition">
                    <h2 onclick="hideListofCondition('language-content')">
                        <i class="fa-solid fa-caret-down" oustyle="color: #000000;"></i>
                        <p class="title">Ngôn ngữ học tập</p>
                    </h2>
                    <ul id="language-content" style="display: none">
                        <li onclick="hideOtherCheckboxes(this, 'language1')">
                            <input type="checkbox" id="language1" name="language" checked="checked"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language1">Chọn tất cả</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'language2')">
                            <input type="checkbox" id="language2" name="language"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language2">Python</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'language3')">
                            <input type="checkbox" id="language3" name="language"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language3">HTML & CSS</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'language4')">
                            <input type="checkbox" id="language4" name="language"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language4">JavaScript</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'language5')">
                            <input type="checkbox" id="language5" name="language"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language5">C/C++</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'language6')">
                            <input type="checkbox" id="language6" name="language"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language6">C#</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'language7')">
                            <input type="checkbox" id="language7" name="language"
                                onclick="hideOtherCheckboxes(this, 'language')">
                            <label for="language7">PHP</label>
                        </li>
                    </ul>
                </div>
                <div class="condition">
                    <h2 onclick="hideListofCondition('level-content')">
                        <i class="fa-solid fa-caret-down" oustyle="color: #000000;"></i>
                        <p class="title">Cấp độ bài học</p>
                    </h2>
                    <ul id="level-content" style="display: none">
                        <li onclick="hideOtherCheckboxes(this, 'level1')">
                            <input type="checkbox" id="level1" name="level" checked="checked"
                                onclick="hideOtherCheckboxes(this, 'level')">
                            <label for="level1">Chọn tất cả</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'level2')">
                            <input type="checkbox" id="level2" name="level"
                                onclick="hideOtherCheckboxes(this, 'level')">
                            <label for="level2">Cơ sở</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'level3')">
                            <input type="checkbox" id="level3" name="level"
                                onclick="hideOtherCheckboxes(this, 'level')">
                            <label for="level3">Thành thạo</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'level4')">
                            <input type="checkbox" id="level4" name="level"
                                onclick="hideOtherCheckboxes(this, 'level')">
                            <label for="level4">Nâng cao</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'level5')">
                            <input type="checkbox" id="level5" name="level"
                                onclick="hideOtherCheckboxes(this, 'level')">
                            <label for="level5">Áp dung</label>
                        </li>
                    </ul>
                </div>
                <div class="condition">
                    <h2 onclick="hideListofCondition('duration-content')">
                        <i class="fa-solid fa-caret-down" oustyle="color: #000000;"></i>
                        <p class="title">Thời lượng bài học</p>
                    </h2>
                    <ul id="duration-content" style="display: none;">
                        <li onclick="hideOtherCheckboxes(this, 'duration1')">
                            <input type="checkbox" id="duration1" name="duration" checked="checked"
                                onclick="hideOtherCheckboxes(this, 'duration')">
                            <label for="duration1">Chọn tất cả</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'duration2')">
                            <input type="checkbox" id="duration2" name="duration"
                                onclick="hideOtherCheckboxes(this, 'duration')">
                            <label for="duration2">0 - 25 giờ</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'duration3')">
                            <input type="checkbox" id="duration3" name="duration"
                                onclick="hideOtherCheckboxes(this, 'duration')">
                            <label for="duration3">26 - 40 giờ</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'duration4')">
                            <input type="checkbox" id="duration4" name="duration"
                                onclick="hideOtherCheckboxes(this, 'duration')">
                            <label for="duration4">41 - 60 giờ</label>
                        </li>
                        <li onclick="hideOtherCheckboxes(this, 'duration5')">
                            <input type="checkbox" id="duration5" name="duration"
                                onclick="hideOtherCheckboxes(this, 'duration')">
                            <label for="duration5">Trên 60 giờ </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/JavaScript" src="../assets/js/courses.js"></script>

</html>