<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="../assets/css/filter.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
    <script>
        function toggleElement() {
            var element = document.getElementById("content"); 
            var checkbox = document.getElementById("switch-on-off"); 

            if (checkbox.checked) {
                element.style.display = "block"; 
            } else {
                element.style.display = "none"; 
            }
        }

        function hideOtherCheckboxes(checkbox, listname) {
            var checkboxes = document.getElementsByName(listname); 
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != checkbox) {
                checkboxes[i].checked = false;
                }
            }
        }

        function hideListofCondition(listname) {
            var element = document.getElementById(listname); 

            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block"; 
            } else {
                element.style.display = "none"; 
            }
        }
    </script>
</head>

<body>
    <div class="filter">
        <h1>
            <label class="switch-on-off">
                <input type="checkbox" id="switch-on-off" onchange="toggleElement()">
                <span class="slider"></span>
            </label>
            <p class="header-title">Bộ lọc</p>
        </h1>
        <div id="content">
            <div class="condition">
                <h2>
                    <i class="fa-solid fa-caret-down" oustyle="color: #000000;" onclick="hideListofCondition('topic-content')"></i>
                    <p class="title">Chủ đề</p>
                </h2>
                <ul id="topic-content" style="display: none">
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic1')">
                        <input type="checkbox" id="topic1" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic1">Chọn tất cả</label>
                    </li>
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic2')">
                        <input type="checkbox" id="topic2" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic2">Trí tuệ nhân tạo</label>
                    </li>
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic3')">
                        <input type="checkbox" id="topic3" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic3">Phát triển web</label>
                    </li>
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic4')">
                        <input type="checkbox" id="topic4" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic4">An ninh mạng</label>
                    </li>
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic5')">
                        <input type="checkbox" id="topic5" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic5">Phát triển trò chơi</label>
                    </li>
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic6')">
                        <input type="checkbox" id="topic6" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic6">Phân tích dữ liệu</label>
                    </li>
                    <li class="condition-title" onclick="hideOtherCheckboxes(this, 'topic7')">
                        <input type="checkbox" id="topic7" name="topic" onclick="hideOtherCheckboxes(this, 'topic')">
                        <label for="topic7">Điện toán đám mây</label>
                    </li>
                </ul>
                
            </div>
            <div class="condition">
                <h2>
                    <i class="fa-solid fa-caret-down" oustyle="color: #000000;" onclick="hideListofCondition('program-language-content')"></i>
                    <p class="title">Ngôn ngữ lập trình</p>
                </h2>
                <ul id="program-language-content" style="display: none">
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">Chọn tất cả</label>
                    </li>
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">Python</label>
                    </li>
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">HTML & CSS</label>
                    </li>
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">JavaScript</label>
                    </li>
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">C/C++</label>
                    </li>
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">C#</label>
                    </li>
                    <li>
                        <input type="checkbox" id="program-language" name="program-language" onclick="hideOtherCheckboxes(this, 'program-language')">
                        <label for="program-language">PHP</label>
                    </li>
                </ul>
            </div>
            <div class="condition">
                <h2>
                    <i class="fa-solid fa-caret-down" oustyle="color: #000000;" onclick="hideListofCondition('language-content')"></i>
                    <p class="title">Ngôn ngữ học tập</p>
                </h2>
                <ul id="language-content" style="display: none">
                    <li>
                        <input type="checkbox" id="language" name="language-content" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">Chọn tất cả</label>
                    </li>
                    <li>
                        <input type="checkbox" id="language" name="language" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">Python</label>
                    </li>
                    <li>
                        <input type="checkbox" id="language" name="language" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">HTML & CSS</label>
                    </li>
                    <li>
                        <input type="checkbox" id="language" name="language" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">JavaScript</label>
                    </li>
                    <li>
                        <input type="checkbox" id="language" name="language" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">C/C++</label>
                    </li>
                    <li>
                        <input type="checkbox" id="language" name="language" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">C#</label>
                    </li>
                    <li>
                        <input type="checkbox" id="language" name="language" onclick="hideOtherCheckboxes(this, 'language')">
                        <label for="language">PHP</label>
                    </li>
                </ul>
            </div>
            <div class="condition">
                <h2>
                    <i class="fa-solid fa-caret-down" oustyle="color: #000000;" onclick="hideListofCondition('level-content')"></i>
                    <p class="title">Cấp độ bài học</p>
                </h2>
                <ul id="level-content" style="display: none">
                    <li onclick="hideOtherCheckboxes(this, 'level1')">
                        <input type="checkbox" id="level1" name="level" onclick="hideOtherCheckboxes(this, 'level')">
                        <label for="level1">Chọn tất cả</label>
                    </li>
                    <li onclick="hideOtherCheckboxes(this, 'level2')">
                        <input type="checkbox" id="level2" name="level" onclick="hideOtherCheckboxes(this, 'level')">
                        <label for="level2">Cơ sở</label>
                    </li>
                    <li onclick="hideOtherCheckboxes(this, 'level3')">
                        <input type="checkbox" id="level3" name="level" onclick="hideOtherCheckboxes(this, 'level')">
                        <label for="level3">Thành thạo</label>
                    </li>
                    <li onclick="hideOtherCheckboxes(this, 'level4')">
                        <input type="checkbox" id="level4" name="level" onclick="hideOtherCheckboxes(this, 'level')">
                        <label for="level4">Nâng cao</label>
                    </li>
                    <li onclick="hideOtherCheckboxes(this, 'level5')">
                        <input type="checkbox" id="level5" name="level" onclick="hideOtherCheckboxes(this, 'level')">
                        <label for="level5">Áp dung</label>
                    </li>
                </ul>
            </div>
            <div class="condition">
                <h2>
                    <i class="fa-solid fa-caret-down" oustyle="color: #000000;" onclick="hideListofCondition('duration-content')"></i>
                    <p class="title">Thời lượng bài học</p>
                </h2>
                <ul id="duration-content" style="display: none;">
                    <li>
                        <input type="checkbox" id="duration" name="duration" onclick="hideOtherCheckboxes(this, 'duration')">
                        <label for="duration">Chọn tất cả</label>
                    </li>
                    <li>
                        <input type="checkbox" id="duration" name="duration" onclick="hideOtherCheckboxes(this, 'duration')">
                        <label for="duration">0 - 25 giờ</label>
                    </li>
                    <li>
                        <input type="checkbox" id="duration" name="duration" onclick="hideOtherCheckboxes(this, 'duration')">
                        <label for="duration">26 - 40 giờ</label>
                    </li>
                    <li>
                        <input type="checkbox" id="duration" name="duration" onclick="hideOtherCheckboxes(this, 'duration')">
                        <label for="duration">41 - 60 giờ</label>
                    </li>
                    <li>
                        <input type="checkbox" id="duration" name="duration" onclick="hideOtherCheckboxes(this, 'duration')">
                        <label for="duration">Trên 60 giờ </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>