<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexer</title>
    <link rel="stylesheet" href="../assets/css/flexer.css">
</head>

<body>
    <div class="flexer">
        <div class="flex-flexer">
            <div class="flexer-item">
                <div class="flexer-center">
                    <h3>1000 +</h3>
                    <hr>
                    <span>Học viên đăng ký</span>
                </div>
            </div>
            <div class="flexer-item">
                <div class="flexer-center">
                    <h3>2000 +</h3>
                    <hr>
                    <span>Khóa học lập trình</span>
                </div>
            </div>
            <div class="flexer-item">
                <div class="flexer-center">
                    <h3>4000 +</h3>
                    <hr>
                    <span>Tài liệu học thuật</span>
                </div>
            </div>
        </div>
        <div class="button">
            <button>Bắt đầu học</button>
        </div>
    </div>
</body>

</html>