<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../assets/css/footer.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="footer">
        <div class="nav-tool">
            <div class="tool">
                <a href="">
                    <img class="logo" src="../assets/images/CodeProLogo.png" alt="CodeProLogo">
                </a>
            </div>
            <div class="tool">
                <h3>Thông tin</h3>
                <ul>
                    <li><a href="" title="Về chúng tôi">Về chúng tôi</a></li>
                    <li><a href="" title="Điều khoản">Điều khoản</a></li>
                </ul>
            </div>
            <div class="tool">
                <h3>Tìm hiểu</h3>
                <ul>
                    <li><a href="" title="Khóa học">Khóa học</a></li>
                    <li><a href="" title="Tài liệu">Tài liệu</a></li>
                </ul>
            </div>
            <div class="tool">
                <h3>Hỗ trợ</h3>
                <ul>
                    <li><a href="" title="Hướng dẫn">Hướng dẫn</a></li>
                    <li><a href="" title="Cộng đồng">Cộng đồng</a></li>
                </ul>
            </div>
            <div class="tool">
                <h3>Mạng xã hội</h3>
                <div class="social">
                    <a href="https://www.facebook.com/">
                        <div class="logo" id="fb" title="Facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/">
                        <div class="logo" id="ig" title="Instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </a>
                    <a href="https://twitter.com/">
                        <div class="logo" id="x" title="Twitter">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </a>
                    <a href="https://www.youtube.com/">
                        <div class="logo" id="yt" title="Youtube">
                            <i class="fa-brands fa-youtube"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            Made with ❤️ in UIT. Powered by <a href="">CodePro</a> © 2023.
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>