<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For you Courses</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/for-you-courses.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="for-you-courses">
        <h1>
            Khóa học dành cho bạn
            <i class="fa-regular fa-square-caret-right fa-lg" onclick="window.location.href=''"></i>        
            <i class="fa-regular fa-square-caret-left fa-lg" onclick="window.location.href=''"></i>   
        </h1>
        <div class="grid-container">
            <div class="column">
                <div class="course"> 
                    <a href="../course-detail.html">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>