<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For you Courses</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/for-you-courses.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="for-you-courses">
        <h1>
            <p class="header-title">Khóa học dành cho bạn</p>
            <div class="changepage">
                <i class="fa-regular fa-square-caret-left fa-lg" onclick="window.location.href=''"></i>
                <i class="fa-regular fa-square-caret-right fa-lg" onclick="window.location.href=''"></i>        
            </div>   
        </h1>
        <div class="grid-container">
            <div class="column">
                <div class="course"> 
                    <a href="../pages/course-detail.html" class="pypy">
                        <img src="../assets/images/courses/artwork/forucourse11.jpg" alt="">
                        <a href="../pages/course-detail.html" class="pypy">AI cho mọi người</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Standford <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Andrew Ng <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 70 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 167,231
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course12.jpg" alt="">
                        <a href="">Python cho Khoa học dữ liệu </a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> IBM <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>Joseph Santarcangelo <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 30 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 683,634
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course13.png" alt="">
                        <a href="">Lập trình có mục đích</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học California San Diego <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Mia Minnes <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 30 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 683,634
                            </div>
                        </div> 
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course21.jpg" alt="">
                        <a href="">Máy học chuyên sâu</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học California San Diego <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Leo Porter <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 148 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 307,710
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course22.jpg" alt="">
                        <a href="">Các kỹ thuật học sâu</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> DeepLearning.AI & Standford <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Younes Bensouda Mourri <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 83 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 119,536
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course23.jpg" alt="">
                        <a href="">Nền tảng trí tuệ nhân tạo</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học VinUni & Viettel <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>Rohit Verma <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 48 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 312,234
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course31.jpg" alt="">
                        <a href="">Thị giác máy tính cơ bản</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Buffalo <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>Radhakrishna Dasari <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i>39 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 283,800 
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course32.jpg" alt="">
                        <a href="">Mạng Neural và học sâu</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Deep Learning Specialization <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Kian Katanforoosh <br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 24 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 253,980
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course33.png" alt="">
                        <a href="">Mạng Neural tích chập</a>
                        <p class="info">
                            <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Colorado Boulder <br>
                            <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Ioana Fleming<br>
                            <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản 
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #003899;"></i> 148 giờ
                            </div>
                            <div class="star">
                                <i class="fa-sharp fa-solid fa-star"></i> 4.6
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 307,710
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>