<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For you Courses</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/for-you-courses.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="for-you-courses">
        <h1>
            Khóa học dành cho bạn
            <i class="fa-regular fa-square-caret-right fa-lg" onclick="window.location.href=''"></i>        
            <i class="fa-regular fa-square-caret-left fa-lg" onclick="window.location.href=''"></i>   
        </h1>
        <div class="grid-container">
            <div class="column">
                <div class="course"> 
                    <a href="../pages/course-detail.html">
                        <img src="../assets/images/courses/artwork/forucourse11.jpg" alt="">
                        <a href="../pages/course-detail.html">AI cho mọi người</a>
                        <p class="info">
                            Đại học STANFORD <br>
                            Giảng viên: <b>Andrew Ng</b>
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #bababa;"></i>
                                70 giờ
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                                167,231
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course12.jpg" alt="">
                        <a href="">Python cho Khoa học dữ liệu </a>
                        <p class="info">
                            IBM <br>
                            Giảng viên: <b>Joseph Santarcangelo</b>
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #bababa;"></i>
                                30 giờ
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                                683,634
                            </div>
                        </div> 
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/artwork/course13.png" alt="">
                        <a href="">Khoa học máy tính: Lập trình có mục đích</a>
                        <p class="info">
                            Đại học California San Diego <br>
                            Giảng viên: <b>Mia Minnes</b>
                        </p>
                        <div class="time-student">
                            <div class="time">
                                <i class="fa-solid fa-clock" style="color: #bababa;"></i>
                                30 giờ
                            </div>
                            <div class="student">
                                <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                                683,634
                            </div>
                        </div> 
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
                <div class="course"> 
                    <a href="">
                        <img src="../assets/images/courses/forucourse11.jpg" alt="">
                        <a href="">AI cho mọi người</a>
                        <p class="info">Andrew Ng</p>
                        <p class="time">70 hours</p>
                        <div class="student">
                            <p class="num_student">12345</p>
                            <i class="fa-solid fa-user-graduate" style="color: #bababa;"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>