<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../assets/css/header.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="fixed">
        <div class="header">
            <div class="nav-bar">
                <a class="logo">
                    <img class="box" src="../assets/images/CodeProLogo.png" alt="CodeProLogo"></img>
                </a>
                <div class="tool-bar">
                    <div class="tool">
                        <div class="search-bar">
                            <input type="text" id="search-input" placeholder="Bạn cần tìm kiếm khóa học, tài liệu nào?">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="sign-up">
                            <button>Đăng ký</button>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="nav-button">TRANG CHỦ</div>
                        <div class="nav-button">KHÓA HỌC</div>
                        <div class="nav-button">TÀI LIỆU</div>
                        <div class="nav-button">CỘNG ĐỒNG</div>
                        <div class="nav-button">VỀ CHÚNG TÔI</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>