<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../assets/css/header.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="../homepage.html" class="box">
                    <img src="../assets/images/CodeProLogo.png" alt="CodeProLogo"></img>
                </a>
            </div>
            <div class="tool-bar">
                <div class="tool">
                    <div class="search-bar">
                        <input type="text" id="search-input" placeholder="Bạn cần tìm kiếm khóa học, tài liệu nào?">
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="login-button">
                        <div class="log-in">
                            <button>Đăng nhập</button>
                        </div>
                        <div class="sign-up">
                            <button>Đăng ký</button>
                        </div>
                    </div>
                </div>
                <div class="nav">
                    <div class="nav-link">
                        <a href="../homepage.html">
                            <div class="nav-button">
                                TRANG CHỦ
                            </div>
                        </a>
                    </div>
                    <div class="nav-link docs">
                        <a href="">
                            <div class="nav-button">
                                KHÓA HỌC
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                        </a>
                        <div class="dropdown-doc" id="courses">
                            <div class="doc-list">
                                <h3>CHỦ ĐỀ</h3>
                                <ul class="doc-format">
                                    <li><a href="">Trí tuệ nhân tạo</a></li>
                                    <li><a href="">Phát triển web</a></li>
                                    <li><a href="">An ninh mạng</a></li>
                                    <li><a href="">Điện toán đám mây</a></li>
                                </ul>
                                <a href="" class="more">Xem thêm</a>
                            </div>
                            <div class="doc-list">
                                <h3>LẬP TRÌNH</h3>
                                <ul class="doc-format">
                                    <li><a href="">PHP</a></li>
                                    <li><a href="">C++</a></li>
                                    <li><a href="">Python</a></li>
                                    <li><a href="">Java Script</a></li>
                                </ul>
                                <a href="" class="more">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-link docs">
                        <a href="">
                            <div class="nav-button">
                                TÀI LIỆU
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                        </a>
                        <div class="dropdown-doc">
                            <div class="doc-list">
                                <h3>NGÔN NGỮ</h3>
                                <ul class="doc-format">
                                    <li><a href="">Python</a></li>
                                    <li><a href="">HTML</a></li>
                                    <li><a href="">CSS</a></li>
                                    <li><a href="">Java Script</a></li>
                                </ul>
                                <a href="" class="more">Xem thêm</a>
                            </div>
                            <div class="doc-list">
                                <h3>THƯ VIỆN</h3>
                                <ul class="doc-format">
                                    <li><a href="">Scikit-learn</a></li>
                                    <li><a href="">PyTorch</a></li>
                                    <li><a href="">TensorFlow</a></li>
                                    <li><a href="">Pandas</a></li>
                                </ul>
                                <a href="" class="more">Xem thêm</a>
                            </div>
                            <div class="doc-list">
                                <h3>THUẬT TOÁN</h3>
                                <ul class="doc-format">
                                    <li><a href="">K-Means</a></li>
                                    <li><a href="">Chia để trị</a></li>
                                    <li><a href="">Dijkstra</a></li>
                                    <li><a href="">Decision Tree</a></li>
                                </ul>
                                <a href="" class="more">Xem thêm</a>
                            </div>
                            <div class="doc-list">
                                <h3>BÀI BÁO KHOA HỌC</h3>
                                <ul class="doc-format">
                                    <li><a href="">Optimizing Results in Aerial Images through Post-Processing
                                            Techniques on YOLOv7</a></li>
                                    <li><a href="">Self-Adaptive Ant System with Hierarchical Clustering for the Thief
                                            Orienteering Problem</a></li>
                                    <li><a href="">Comprehensive System for Facilitating Professional Growth by Linking
                                            Mentees and Mentors in Information Technology</a></li>
                                    <li><a href="">A Text-based Approach For Link Prediction on Wikipedia Articles</a>
                                    </li>
                                </ul>
                                <a href="" class="more">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-link">
                        <a href="">
                            <div class="nav-button">
                                CỘNG ĐỒNG
                            </div>
                        </a>
                    </div>
                    <div class="nav-link">
                        <a href="../aboutus.html">
                            <div class="nav-button">
                                VỀ CHÚNG TÔI
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>