<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>History</title>

    <link rel="stylesheet" href="../assets/css/history.css">
</head>

<body>
    <div class="history">
        <h1>QUÁ TRÌNH HÌNH THÀNH</h1>
        <div class="timeline">
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right">Tháng 9 năm 2023</div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg timeline__component--bottom">
                <h2 class="timeline__title">Cơ duyên sáng lập</h2>
                <p class="timeline__paragraph">
                    Gặp khó khăn trong việc tìm kiếm nguồn tài liệu, khóa học bài bản, chất lượng nhưng miễn phí và được
                    giảng dạy bằng tiếng Việt. Rất may mắn khi nhóm gặp được thầy Phạm Thế Sơn, thầy cũng đã dìu dắt
                    nhóm từ cơ bản cũng như hỗ trợ nhóm trong việc tìm kiếm này.
                </p>
                <img class="timeline__image " src="../assets/images/aboutus/help.jpg" alt="help">
            </div>
            <div class="timeline__component timeline__component--bg timeline__component--bottom">
                <h2 class="timeline__title">Mục tiêu ban đầu</h2>
                <p class="timeline__paragraph">
                    Lên ý tưởng về 1 trang web hoàn toàn bằng tiếng Việt có đầy đủ các tài liệu, khóa học được chuyển
                    ngữ từ khắp nơi trên thế giới. Với ý tưởng này nhóm sáng lập mong rằng sẽ tạo cơ hội học tập và tiếp
                    cận đến các khóa học nổi tiếng cho học sinh - sinh viên Vệt Nam.
                </p>
                <img class="timeline__image " src="../assets/images/aboutus/getidea.jpg" alt="getidea">
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component">
                <div class="timeline__date timeline__date--left">Tháng 10 năm 2023</div>
            </div>
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right">Tháng 11 năm 2023</div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg timeline__component--bottom">
                <h2 class="timeline__title">Bỏ cuộc hay tiếp tục</h2>
                <p class="timeline__paragraph">
                    Xây dựng trang web hoàn toàn từ con số 6, nhóm sáng lập đã thiết kế từng thành phần của trang. Rất
                    nhiều cuộc họp, cuộc thảo luận giữa các thành viên đã xảy ra, cũng đã có những lúc nhóm muốn dừng dự
                    án này lại vì cảm thấy không thể theo được nữa.
                </p>
                <img class="timeline__image " src="../assets/images/aboutus/giveup.jpg" alt="giveup">
            </div>
            <div class="timeline__component timeline__component--bg">
                <h2 class="timeline__title">Thành quả và lời tri ân</h2>
                <p class="timeline__paragraph">
                    Vượt qua bao khó khăn, một lần nữa nhận được sự hỗ trợ lớn từ thầy Sơn cũng như những người bạn,
                    nhóm sáng lập đã có đủ niềm tin để cố gắng và đưa trang web có tên CodePro đến với mọi người một
                    cách hoàn thiện nhất.
                    Nhóm xin gửi lời tri ân đến thầy Sơn, thầy là 1 phần không thể thiếu của trang web này.
                </p>
                <img class="timeline__image " src="../assets/images/aboutus/success.jpg" alt="success">
            </div>
            <div class="timeline__middle timeline__middle--last">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component">
                <div class="timeline__date timeline__date--left">Tháng 12 năm 2023</div>
            </div>

        </div>
    </div>
</body>

</html>