<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage feedback</title>
    <link rel="stylesheet" href="../assets/css/homepage-feedback.css">
</head>

<body>
    <div class="homepage-feedback">
        <div class="container">
            <div class="section-title">
                <h1>HỌC VIÊN NÓI GÌ VỀ CHÚNG TÔI</h1>
                <div class="separator-center" style="height: 100%;">
                    <span class="section-separator"></span>
                </div>
            </div>
        </div>
        <div class="testimonials-carousel-wrap" style="margin-top: 15vb;">
            <div class="testimonials-carousel">
                <div class="swiper-container">
                    <div class="swiper-wrapper" style="display: flex;">
                        <!-- one -->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="../assets/images/homepage/irene.jpg"
                                        alt="hoangphuc"></div>
                                <div class="testimonial-text-before">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>Tôi hoàn toàn không biết bắt đầu từ đâu khi muốn học lập trình mà
                                        không có bất kỳ kinh nghiệm nào trước đó. CodePro đã là nguồn động viên và hướng
                                        dẫn tuyệt vời, giúp tôi nhìn thấy con đường rõ ràng và làm cho quá trình học của
                                        tôi trở nên mạch lạc và dễ dàng hơn nhiều.
                                    </p>
                                    <div class="testimonials-avatar">
                                        <h3>Bùi Minh Hiền</h3>
                                        <h4>Student</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text-after">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>

                        <!-- two -->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="../assets/images/homepage/baekhyun.jpg"
                                        alt="hoangphuc"></div>
                                <div class="testimonial-text-before">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>CodePro giúp tôi học lập trình một cách hiệu quả hơn. Ngoài các khóa học và cuộc
                                        thi, CodePro còn xây dựng một cộng đồng lập trình viên, giúp chúng tôi có thể
                                        học hỏi lẫn nhau rất nhiều.
                                    </p>
                                    <div class="testimonials-avatar">
                                        <h3>Biện Bạch Hiền</h3>
                                        <h4>Developer</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text-after">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>

                        <!-- three -->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="../assets/images/homepage/dareum.jpg"
                                        alt="hoangphuc"></div>
                                <div class="testimonial-text-before">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>Tôi thực sự thích việc học tại CodePro. Các khóa học được mô tả một cách rất dễ
                                        hiểu, bài tập đa dạng và giải thích cũng rất chi tiết. Tôi cảm thấy kỹ năng lập
                                        trình của mình đã được cải thiện rất nhiều và mong muốn trở thành một lập trình
                                        viên xuất sắc trong tương lai!
                                    </p>
                                    <div class="testimonials-avatar">
                                        <h3>Đặng Bảo Khang</h3>
                                        <h4>Student</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text-after">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>

                        <!-- four -->
                        <div class="swiper-slide">
                            <div class="testi-item">
                                <div class="testi-avatar"><img src="../assets/images/homepage/hoangduyen.jpg"
                                        alt="hoangphuc"></div>
                                <div class="testimonial-text-before">
                                    <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testimonials-text">
                                    <div class="listing-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>Học tại CodePro là một trải nghiệm tuyệt vời cho nhà phát triển. Các khóa học rõ
                                        ràng, nhiều bài tập thực tế và giải thích chi tiết giúp tôi phát triển kỹ năng
                                        lập trình một cách hiệu quả. Tôi tin rằng sự tiến bộ của mình sẽ là chìa khóa
                                        cho sự nghiệp phần mềm trong tương lai.
                                    </p>
                                    <div class="testimonials-avatar">
                                        <h3>Hoàng Thị Mỹ Duyên</h3>
                                        <h4>Developer</h4>
                                    </div>
                                </div>
                                <div class="testimonial-text-after">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.4/swiper-bundle.min.js"
        integrity="sha512-/LKHQ9K9yatyOfEKXiysc9SPCpF6xkvfHQxtPkhdKS83GvfyIWDwKaOr3/LqVxbEX89Bqz+SbMHEPWm0AeRWnA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/js/homepage-feedback.js"></script>
</body>

</html>