<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Intro about us</title>

    <link rel="stylesheet" href="../assets/css/intro-aboutus.css">
</head>

<body>
    <div class="intro-aboutus">
        <div id="address">
            <span><a href="../pages/homepage.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/aboutus.html"><b>VỀ CHÚNG TÔI</b></a></span>
        </div>
        <div id="mission">
            <div id="background-mission">
            </div>
            <div class="flex-mission">
                <div class="mission-item">
                    <img src="../assets/images/aboutus/whoweare.jpg" alt="whoweare">
                </div>
                <div class="mission-item">
                    <div>
                        <h1>CHÚNG TÔI LÀ AI?</h1>
                        <p>CodePro là một hệ thống và nền tảng tương tác trực tuyến giúp người dùng có thể học, thực
                            hành và
                            đánh giá kỹ năng lập trình của mình thông qua việc giải các bài tập, tham gia các cuộc thi
                            lập
                            trình với chức năng chấm điểm tự động để người dùng có thể nâng cao kỹ năng và tăng cường
                            năng
                            lực của mình.</p>
                    </div>
                </div>
            </div>
            <div class="flex-mission">
                <div class="mission-item">
                    <div>
                        <h1>TẦM NHÌN</h1>
                        <p>
                            Dù bạn là ai, CodePro luôn sẵn sàng giúp bạn khám phá giới hạn của bản thân. Chúng tôi cam
                            kết
                            tạo ra một nền tảng cho các nhà phát triển chia sẻ kiến thức về khoa học máy tính, không chỉ
                            tại
                            Việt Nam mà còn trên toàn Đông Nam Á và khắp châu Á.
                        </p>
                    </div>
                </div>
                <div class="mission-item">
                    <img src="../assets/images/aboutus/vision.jpg" alt="vision">
                </div>
            </div>
            <div class="flex-mission">
                <div class="mission-item">
                    <img src="../assets/images/aboutus/mission.jpg" alt="mission">
                </div>
                <div class="mission-item">
                    <div>
                        <h1>NHIỆM VỤ</h1>
                        <p>
                            Chúng tôi tập trung vào việc phát triển một hệ sinh thái toàn diện với các khóa học từ cơ
                            bản
                            đến nâng cao và các thách thức thực hành phù hợp cho mọi người. Với các khóa học và thách
                            thức
                            đa dạng và phong phú hỗ trợ nhiều ngôn ngữ lập trình, CodePro giúp người dùng học và thực
                            hành
                            lập trình một cách dễ dàng và hiệu quả.
                            <br>
                            Chúng tôi kết nối tất cả những người có niềm đam mê với lĩnh vực khoa học máy tính, sau đó
                            xây
                            dựng cùng nhau một cộng đồng mạnh mẽ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>