<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro & Log in</title>
    <link rel="stylesheet" href="../assets/css/intro-log-in.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="intro-log-in">
        <div class="intro">
            <div class="slogan">
                <h1>CODEPRO:</h1>
                <h1>FROM ZERO TO HERO</h1>
                <p>Thật dễ để học lập trình cùng với CodePro</p>
            </div>
        </div>
        <div class="log-in">
            <div class="input-region">
                <h3>Bắt đầu ngay hôm nay!</h3>
                <p class="su-anou">Tên người dùng là bắt buộc.</p>
                <input type="text" id="username" placeholder="Tên người dùng">
                <p class="su-anou">Hãy nhập một email hợp lệ.</p>
                <input type="email" id="email" placeholder="Email">
                <p class="su-anou">Mật khẩu là bắt buộc.</p>
                <input type="password" id="password" placeholder="Mật khẩu">
                <p class="su-anou">Bạn phải đồng ý với điều khoản của CodePro.</p>
                <div class="accept-term">
                    <input type="checkbox" id="term">
                    <label for="term">Tôi đồng ý với <a href="../pages/terms.html">điều khoản</a> của CodePro</label>
                </div>
                <button>Tham gia ngay!</button>
                <p>hoặc dùng tài khoản khác</p>
                <div class="account">
                    <a href="">
                        <div class="account-logo" id="microsoft">
                            <i class="fa-brands fa-windows"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="account-logo" id="facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="account-logo" id="google">
                            <i class="fa-brands fa-google"></i>
                        </div>
                    </a>
                    <a href="">
                        <div class="account-logo" id="github">
                            <i class="fa-brands fa-github"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>