<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Documents</title>
    <link rel="stylesheet" href="../assets/css/all-documents.css">
</head>

<body>
    <div class="all-documents">
        <div class="arrange-section">
            <div class="num-of-res">420 kết quả cho tài liệu</div>
            <div class="arrange">
                <span>Sắp xếp theo:</span> <br>
                <select name="arra" id="arra">
                    <option value="1">Phù hợp nhất</option>
                    <option value="1">Mới nhất</option>
                </select>
            </div>
        </div>
        <div class="documents">
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/web_programming.png" alt="web_programming.png">
                </div>
                <div class="document-content-right">
                    <h3>Lập Trình Web Cơ Bản: Xây Dựng Trang Web Đơn Giản từ Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> HTML, CSS, JavaScript</span>
                    <p>Bắt đầu với HTML để xây dựng cấu trúc trang, sử dụng CSS để làm đẹp giao diện, và tích hợp
                        JavaScript để thêm tính năng tương tác. Bài viết này cung cấp cái nhìn tổng quan về lập trình
                        web cơ bản, giúp bạn bắt đầu hành trình tạo ra những trang web đầu tiên của mình.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/sql.jpg" alt="sql.jpg">
                </div>
                <div class="document-content-right">
                    <h3>SQL: Khám Phá Ngôn Ngữ Truy Vấn Cơ Sở Dữ Liệu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> SQL</span>
                    <p>"SQL: Khám Phá Ngôn Ngữ Truy Vấn Cơ Sở Dữ Liệu" là hướng dẫn toàn diện giúp bạn làm chủ ngôn ngữ
                        truy vấn quan trọng này. Từ cơ bản đến nâng cao, tài liệu này hướng dẫn cách thiết kế, truy vấn,
                        và tối ưu hóa cơ sở dữ liệu sử dụng SQL. Đồng thời, nó cung cấp các mẹo thực tế để giải quyết
                        các thách thức trong quản lý dữ liệu.</p>
                </div>
            </div>
            <a class="pypy" href="../pages/document-details.html">
                <div class="document">
                    <div class="document-content-left">
                        <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                    </div>
                    <div class="document-content-right">
                        <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                        <span><b>Ngôn ngữ lập trình:</b> Python</span>
                        <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                            tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                            nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                            lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                    </div>
                </div>
            </a>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/cpp.jpg" alt="cpp.jpg">
                </div>
                <div class="document-content-right">
                    <h3>C++: Lập Trình Hiệu Quả và Mạnh Mẽ</h3>
                    <span><b>Ngôn ngữ lập trình:</b> C++</span>
                    <p>"C++: Lập Trình Hiệu Quả và Mạnh Mẽ" là hướng dẫn chi tiết dành cho những người muốn thức sâu vào
                        ngôn ngữ lập trình C++. Từ cơ bản đến tiên tiến, tài liệu này giúp bạn xây dựng kiến thức vững
                        về cú pháp, lập trình hướng đối tượng, và sử dụng các tính năng mạnh mẽ của C++. Nắm bắt cách
                        viết mã sạch sẽ và hiệu quả với những chiến lược lập trình tiên tiến.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python-advanced.png" alt="python-advanced.png">
                </div>
                <div class="document-content-right">
                    <h3>Nâng Cao Kỹ Năng Python: Sâu Rộng và Tiên Tiến Đối với Những Người Muốn Thách Thức Bản Thân</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Đưa kỹ năng lập trình Python của bạn lên một tầm cao mới với những kiến thức sâu rộng và tiên
                        tiến. Tài liệu này được thiết kế đặc biệt cho những người muốn thách thức bản thân, cung cấp cái
                        nhìn sâu sắc vào các chủ đề phức tạp và phương pháp tiên tiến để ứng dụng Python một cách chuyên
                        sâu và hiệu quả.
                    </p>
                </div>
            </div>
        </div>
        <ul class="change-page">
            <div class="icon">
                <i class="fa-solid fa-angle-left" oustyle="color: #000000;"></i>
            </div>
            <li><a href="#1">1</a></li>
            <li><a href="#2">2</a></li>
            <li><a href="#3">3</a></li>
            <li>...</li>
            <li><a href="">84</a></li>
            <div class="icon">
                <i class="fa-solid fa-angle-right" oustyle="color: #000000;"></i>
            </div>
        </ul>
    </div>
</body>

</html>