<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Modern Login</title>

    <link rel="stylesheet" href="../assets/css/modern-login.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="modern-login">
        <div class="container" id="container">
            <div class="form-container sign-up">
                <div class="form">
                    <h1>Tạo tài khoản</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-windows"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <span>hoặc dùng email của bạn để đăng ký</span>
                    <span class="mini-a">Tên người dùng là bắt buộc.</span>
                    <input type="text" placeholder="Tên người dùng">
                    <span class="mini-a">Hãy nhập một email hợp lệ.</span>
                    <input type="email" placeholder="Email">
                    <span class="mini-a">Mật khẩu là bắt buộc.</span>
                    <input type="password" placeholder="Mật khẩu">
                    <span class="mini-a">Bạn phải đồng ý với điều khoản của CodePro.</span>
                    <div class="accept-term">
                        <input type="checkbox" id="term">
                        <label for="term">Tôi đồng ý với <a href="../pages/terms.html">điều khoản</a> của CodePro</label>
                    </div>
                    <button>Đăng ký</button>
                </div>
            </div>
            <div class="form-container sign-in">
                <div class="form">
                    <h1>Đăng nhập</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-windows"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <span style="text-align: center;">hoặc dùng email/tên người dùng để đăng nhập</span>
                    <span class="anounce" id="wrongu"></span>
                    <input type="text" placeholder="Email hoặc tên người dùng" id="email-si">
                    <span class="anounce" id="wrongp"></span>
                    <input type="password" placeholder="Mật khẩu" id="password-si">
                    <a href="../pages/forgot-password.html" id="forgot">Quên mật khẩu?</a>
                    <a href="" id="dn"><button>Đăng nhập</button></a>
                </div>
            </div>
            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Chào mừng bạn trở lại!</h1>
                        <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang web</p>
                        <button class="hidden" id="login">Đăng nhập</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>Chào học viên mới!</h1>
                        <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang web</p>
                        <button class="hidden" id="register">Đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../assets/js/modern-login.js"></script>

</html>