<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My courses</title>

    <link rel="stylesheet" href="../assets/css/my-courses.css">
</head>

<body>
    <div class="my-courses">
        <div id="address">
            <span><a href="../pages/homepage-user.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href="../pages/my-courses.html"><b>KHÓA HỌC CỦA TÔI</b></a></span>
        </div>
        <div class="courses">
            <div class="big-header">
                TẤT CẢ KHÓA HỌC CỦA TÔI
            </div>
            <hr>
            <div class="section">
                <div class="hheader">
                    <h3>Khóa học đang học</h3>
                    <h5>Xem thêm</h5>
                </div>
                <div class="course-frame">
                    <div class="courses-section">
                        <div class="course">
                            <a href="">
                                <img src="../assets/images/courses/artwork/course13.png" alt="">
                                <a href="">Lập trình có mục đích</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học California
                                    San Diego <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Mia Minnes
                                    <br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i> 30 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 683,634
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course">
                            <a href="">
                                <img src="../assets/images/courses/artwork/course23.jpg" alt="">
                                <a href="">Nền tảng trí tuệ nhân tạo</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học VinUni &
                                    Viettel <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>Rohit Verma
                                    <br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i> 48 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 312,234
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course">
                            <a href="">
                                <img src="../assets/images/courses/artwork/course112.webp" alt="">
                                <a href="">Thiết kế web cho mọi người</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Michigan <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i>Charles
                                    Russell Severance <br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i>96 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 333,234
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course">
                            <a href="../pages/course-detail.html" class="pypy">
                                <img src="../assets/images/courses/artwork/forucourse11.jpg" alt="">
                                <a href="../pages/course-detail.html" class="pypy">AI cho mọi người</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Standford
                                    <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Andrew Ng
                                    <br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i> 70 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 167,231
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>         
            </div>
            <hr>
            <div class="section">
                <div class="hheader">
                    <h3>Khóa học đã học</h3>
                    <h5></h5>
                </div>
                <div class="course-frame">
                    <div class="courses-section">
                        <div class="course">
                            <a href="">
                                <img src="../assets/images/courses/artwork/course311.png" alt="">
                                <a href="">Thiết kế và kiến trúc phần mềm</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Alberta <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Kenny Wong
                                    <br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i> 24 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 451,678
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="course">
                            <a href="">
                                <img src="../assets/images/courses/artwork/course312.png" alt="">
                                <a href="">Chức năng trong lập trình Java</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Boord <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Board
                                    Infinity<br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i> 17 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 204,123
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
            <hr>
            <div class="section">
                <div class="hheader">
                    <h3>Khóa học lưu trữ</h3>
                    <h5></h5>
                </div>
                <div class="course-frame">
                    <div class="courses-section">
                        <div class="course">
                            <a href="">
                                <img src="../assets/images/courses/artwork/course114.webp" alt="">
                                <a href="">Ruby cho DevOps</a>
                                <p class="info">
                                    <i class="fa-solid fa-school" style="color: #000000;"></i> Đại học Colorado
                                    Boulder <br>
                                    <i class="fa-solid fa-chalkboard-user" style="color: #000000;"></i> Rudi
                                    Hinds<br>
                                    <i class="fa-solid fa-layer-group" style="color: #000000;"></i> Cơ bản
                                </p>
                                <div class="time-student">
                                    <div class="time">
                                        <i class="fa-solid fa-clock" style="color: #003899;"></i> 148 giờ
                                    </div>
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i> 4.6
                                    </div>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate" style="color: #000000;"></i> 500,123
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>

</html>