<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our team</title>
    <link rel="stylesheet" href="../assets/css/ourteam.css">
</head>

<body>
    <div class="ourteam">
        <h1>TEAM CHÚNG TÔI</h1>
        <div class="avatars">
            <div class="member">
                <div class="member-image">
                    <img src="../assets/images/aboutus/hoangphuc.jpg" alt="hoangphuc">
                </div>
                <div class="member-name">
                    Phạm Hoàng Phúc
                </div>
                <div class="member-id">
                    20520278
                </div>
            </div>
            <div class="member">
                <div class="member-image">
                    <img src="../assets/images/aboutus/thutrang.jpg" alt="thutrang">
                </div>
                <div class="member-name">
                    Đỗ Thị Thu Trang
                </div>
                <div class="member-id">
                    20520816
                </div>
            </div>
        </div>
    </div>
</body>

</html>