<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Documents</title>
    <link rel="stylesheet" href="../assets/css/all-documents.css">
</head>

<body>
    <div class="all-documents">
        <div class="arrange-section">
            <div class="num-of-res">100 kết quả cho tài liệu</div>
            <div class="arrange">
                <span>Sắp xếp theo:</span> <br>
                <select name="arra" id="arra">
                    <option value="1">Phù hợp nhất</option>
                    <option value="1">Mới nhất</option>
                </select>
            </div>
        </div>
        <div class="documents">
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python-app.png" alt="python-app">
                </div>
                <div class="document-content-right">
                    <h3>Xây Dựng Ứng Dụng Python: Hướng Dẫn Thực Hành Từ Dự Án Thực Tế đến Giải Quyết Vấn Đề</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Hướng dẫn chi tiết và thực hành để xây dựng ứng dụng Python từ dự án thực tế, giúp bạn áp dụng
                        kiến thức vào giải quyết vấn đề cụ thể. Khám phá cách thiết kế và triển khai ứng dụng một cách
                        hiệu quả để đáp ứng các yêu cầu thực tế và tạo ra giải pháp hữu ích.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python.jpg" alt="python.jpg">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>"Khám Phá Python: Hướng Dẫn Lập Trình Cơ Bản cho Người Mới Bắt Đầu" là nguồn tài liệu lý
                        tưởng cho việc học lập trình Python từ đầu. Tài liệu này cung cấp kiến thức từ cơ bản đến
                        nâng cao, hướng dẫn bằng ví dụ thực tế và dễ hiểu. Điều này giúp độc giả xây dựng kỹ năng
                        lập trình và ứng dụng Python trong các dự án thực tế một cách linh hoạt.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python-dev.png" alt="python-dev.png">
                </div>
                <div class="document-content-right">
                    <h3>Chiến Lược Hiệu Quả với Python: Mẹo và Kỹ Thuật để Trở Thành Một Nhà Phát Triển Python Thạo</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Khám phá những mẹo và kỹ thuật chiến lược để nâng cao kỹ năng lập trình Python của bạn. Từ các
                        trik tiện ích đến chiến lược phát triển ứng dụng, tài liệu này sẽ hướng dẫn bạn trở thành một
                        nhà phát triển Python thạo và hiệu quả.</p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python-advanced.png" alt="python-advanced.png">
                </div>
                <div class="document-content-right">
                    <h3>Nâng Cao Kỹ Năng Python: Sâu Rộng và Tiên Tiến Đối với Những Người Muốn Thách Thức Bản Thân</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Đưa kỹ năng lập trình Python của bạn lên một tầm cao mới với những kiến thức sâu rộng và tiên
                        tiến. Tài liệu này được thiết kế đặc biệt cho những người muốn thách thức bản thân, cung cấp cái
                        nhìn sâu sắc vào các chủ đề phức tạp và phương pháp tiên tiến để ứng dụng Python một cách chuyên
                        sâu và hiệu quả.
                    </p>
                </div>
            </div>
            <div class="document">
                <div class="document-content-left">
                    <img src="../assets/images/documents/python-fun.webp" alt="python-fun.webp">
                </div>
                <div class="document-content-right">
                    <h3>Khám Phá Pythonic: Hướng Dẫn Sử Dụng Python theo Phong Cách Pythonic Nhất</h3>
                    <span><b>Ngôn ngữ lập trình:</b> Python</span>
                    <p>Chìm sâu vào thế giới của Pythonic programming, tìm hiểu về những phong cách và nguyên tắc thiết
                        kế code giúp mã nguồn của bạn trở nên rõ ràng, linh hoạt, và dễ hiểu hơn. Tài liệu này không chỉ
                        giúp bạn làm chủ Pythonic, mà còn giúp bạn xây dựng ứng dụng Python một cách chuyên nghiệp và
                        hiệu quả nhất.</p>
                </div>
            </div>
        </div>
        <ul class="change-page">
            <div class="icon">
                <i class="fa-solid fa-angle-left" oustyle="color: #000000;"></i>
            </div>
            <li><a href="#1">1</a></li>
            <li><a href="#2">2</a></li>
            <li><a href="#3">3</a></li>
            <li>...</li>
            <li><a href="">20</a></li>
            <div class="icon">
                <i class="fa-solid fa-angle-right" oustyle="color: #000000;"></i>
            </div>
        </ul>
    </div>
</body>

</html>