<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend courses</title>
    <link rel="stylesheet" href="../assets/css/recommend-courses.css">
    <script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="recommend-courses">
        <h1><span class="long-dash"></span>CÁC KHÓA HỌC ĐƯỢC ĐỀ XUẤT</h1>
        <div class="choosing-courses">
            <div class="selection-section">
                <div class="option-section" data-category="option-new">Mới</div>
                <div class="option-section" data-category="option-popular">Phổ biến</div>
                <div class="option-section" data-category="option-beginner">Cho người mới</div>
                <div class="option-section" data-category="option-worker">Cho người đi làm</div>
            </div>
            <div class="courses-choosing">
                <i class="fa-solid fa-caret-left" id="prev-btn"></i>
                <div class="course-frame">
                    <div class="carousel" data-category="option-new">
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel" data-category="option-popular">
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi nhà</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel" data-category="option-beginner">
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi nhà</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel" data-category="option-worker">
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi nhà</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="courses-section">
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                            <div class="course">
                                <img src="../assets/images/courses/forucourse11.jpg" alt="">
                                <a href="">AI cho mọi người</a>
                                <p class="info">Andrew Ng</p>
                                <div class="th-info">
                                    <p class="time">70 giờ học</p>
                                    <div class="student">
                                        <i class="fa-solid fa-user-graduate"></i>
                                        <p class="num_student">12345</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <i class="fa-solid fa-caret-right" id="right-btn"></i>
            </div>
            <div class="button-selection">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <script src="../assets/js/recommend-courses.js"></script>
</body>

</html>