<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms</title>
    <link rel="stylesheet" href="../assets/css/terms.css">
</head>

<body>
    <div class="terms">
        <div id="address">
            <span><a href="../pages/homepage.html">TRANG CHỦ</a></span>
            <i class="fa-solid fa-chevron-right"></i>
            <span><a href=""><b>ĐIỀU KHOẢN</b></a></span>
        </div>
        <div class="content">
            <div class="head">
                <h1>Điều khoản sử dụng CodePro</h1>
                <h2>Thông tin pháp lý và Lưu ý</h2>
                <hr>
            </div>
            <div class="warn">
                <p id="notices">Xin lưu ý rằng việc bạn sử dụng và truy cập vào các dịch vụ của chúng tôi (được định
                    nghĩa bên dưới)
                    phải tuân theo các điều khoản sau; nếu bạn không đồng ý với tất cả những điều sau đây, bạn không
                    được sử dụng hoặc truy cập các dịch vụ dưới bất kỳ hình thức nào.</p>
                <p>Chào mừng đến với CodePro. Vui lòng đọc tiếp để tìm hiểu các quy tắc và hạn chế chi phối việc
                    bạn sử dụng trang web, sản phẩm và dịch vụ của chúng tôi ("Dịch vụ"). Dịch vụ được sở hữu và vận
                    hành bởi Công ty TNHH Phần mềm TNP. Nếu bạn có bất kỳ câu hỏi, nhận xét hoặc thắc mắc nào liên quan
                    đến các điều khoản này hoặc dịch vụ, vui lòng liên hệ với chúng tôi theo địa chỉ
                    <a href="mailto:support@codepro">support@codepro</a> hoặc Tòa nhà TNP thuộc Khu phố 6, Phường Linh
                    Trung, Thành phố Thủ Đức, Thành phố Hồ
                    Chí Minh, Việt Nam.
                </p>
                <p>Khi chúng tôi đề cập đến "bạn" hoặc "của bạn", chúng tôi đang nói về bạn (bao gồm cả việc nếu bạn ký
                    kết các điều khoản này thay mặt cho bên thứ ba). Khi chúng tôi đề cập đến "chúng tôi", "của chúng
                    tôi" hoặc "TNP", chúng tôi đang nói về Dịch vụ và công ty của chúng tôi (bao gồm các cán bộ, giám
                    đốc, nhà đầu tư, đại lý, người đại diện và nhân viên của công ty). Các Điều khoản sử dụng này ("Điều
                    khoản") là hợp đồng ràng buộc giữa bạn và TNP. Bạn phải đồng ý và chấp nhận tất cả các Điều khoản
                    hiện hành, nếu không bạn sẽ không có quyền sử dụng Dịch vụ. Các điều khoản này cũng bao gồm các quy
                    định của Chính sách quyền riêng tư và Chính sách tranh chấp bản quyền.</p>
                <p id="warning">MỘT LẦN NỮA, HÃY ĐỌC KỸ NHỮNG ĐIỀU KHOẢN NÀY ĐỂ ĐẢM BẢO RẰNG BẠN HIỂU RÕ MỖI QUY ĐỊNH.
                    NHỮNG ĐIỀU
                    KHOẢN NÀY CHỨA ĐẦY MỘT QUY ĐỊNH TRỌNG TÀI CÁ NHÂN BẮT BUỘC VÀ SỰ MIỄN TRÁCH NHIỆM ĐỐI VỚI VIỆC GIẢI
                    QUYẾT TRANH CHẤP, THAY VÌ SỬ DỤNG PHIẾU TỤNG HOẶC HÀNH ĐỘNG TỰ DO/DÂN SỰ.</p>
            </div>
            <div class="term-content">
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Truy cập thông tin tài khoản</div>
                </div>
                <p>CodePro chỉ dành cho những người có năng lực hành động dân sự. Bằng cách sử dụng CodePro, bạn cam kết
                    và bảo đảm rằng bạn đủ tuổi pháp lý để ký một hợp đồng có hiệu lực tại địa phương cư trú của bạn và
                    không phải là người bị cấm nhận dịch vụ theo luật pháp của Việt Nam hoặc các quy định pháp luật áp
                    dụng khác. Chúng tôi giữ quyền từ chối đăng ký hoặc hủy bỏ bất kỳ tài khoản CodePro hoặc quyền truy
                    cập vào CodePro của bất kỳ ai theo quyền quyết định hợp lý của chúng tôi, vào bất kỳ thời điểm nào.
                    Tài khoản CodePro sẽ được truy cập thông qua một tên người dùng và mật khẩu mà bạn sẽ tạo ra (gọi là
                    "Credentials"). Credentials của bạn chỉ dành cho việc sử dụng cá nhân và không được chia sẻ. Mỗi
                    cộng đồng trực tuyến CodePro (gọi là "Codeproer") cần có tài khoản CodePro và Credentials riêng.
                    Bạn đồng ý rằng Credentials và thông tin bạn cung cấp khi đăng ký tài khoản CodePro và bất kỳ lúc
                    nào khác sẽ đúng, chính xác, hiện tại và đầy đủ. Bạn chịu trách nhiệm duy trì tính bảo mật của
                    Credentials và cho tất cả các hoạt động xảy ra dưới tài khoản CodePro của bạn. Bạn đồng ý ngay lập
                    tức thông báo cho chúng tôi về bất kỳ việc sử dụng tài khoản CodePro, Credentials không được ủy
                    quyền hoặc bất kỳ vi phạm bảo mật nào khác. Bạn đồng ý rằng chúng tôi sẽ không chịu trách nhiệm đối
                    với bất kỳ mất mát hoặc thiệt hại nào phát sinh từ việc bạn không cung cấp thông tin chính xác hoặc
                    giữ cho Credentials của bạn an toàn.</p>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Nội dung</div>
                </div>
                <p>1. CodePro cung cấp các tính năng nhất định cho phép CodeProer gửi, đăng và chia sẻ dữ liệu, văn bản,
                    phần mềm, đồ họa, tin nhắn hoặc vật liệu khác ("Nội dung"). Nội dung mà CodeProer gửi, đăng hoặc
                    chia sẻ đều phải tuân thủ các Điều khoản. Nội dung mà bạn sở hữu và đăng trên hoặc qua CodePro thuộc
                    sở hữu của bạn và bạn có thể sử dụng nó bất cứ cách nào, trừ khi bị cấm bởi luật pháp hoặc quy định
                    có liên quan. Bằng cách sử dụng CodePro, bạn đang cấp quyền cho chúng tôi sử dụng Nội dung theo mô
                    tả trong những Điều khoản này.</p>
                <p>2. Bằng cách sử dụng CodePro, bạn đang cấp cho chúng tôi một quyền và giấy phép không độc quyền, toàn
                    cầu, miễn phí, đã thanh toán đầy đủ, có thể chuyển giao, không thể thu hồi để sử dụng, lưu trữ, sao
                    chép, tạo ra các tác phẩm phái sinh, phân phối, sửa đổi, hiển thị và truyền tải Nội dung của bạn.
                    Nếu bạn đăng Nội dung trên hoặc qua CodePro, bạn đại diện và bảo đảm rằng bạn có quyền đăng Nội dung
                    và cấp quyền trên cho chúng tôi như mô tả ở trên. Giấy phép này vẫn còn hiệu lực ngay cả khi bạn
                    chấm dứt tài khoản CodePro của mình và/hoặc ngừng sử dụng CodePro.</p>
                <p>3. Bạn hiểu rằng khi đăng Nội dung của bạn, bạn chịu trách nhiệm cho Nội dung của mình và bất kỳ Nội
                    dung nào bạn tạo, truyền hoặc hiển thị khi sử dụng CodePro, và cho bất kỳ hậu quả nào từ đó. Bạn
                    cũng đồng ý rằng dưới mọi tình huống, chúng tôi sẽ không chịu trách nhiệm về các lỗi hoặc thiếu sót
                    liên quan đến Nội dung của bạn. Bạn đại diện và đồng ý với tất cả các điều sau đây và thừa nhận rằng
                    chúng tôi đang dựa vào những đại diện và thỏa thuận đó đối với Nội dung của bạn và việc sử dụng Nội
                    dung có sẵn trên CodePro:</p>
                <ul>
                    <li>Nội dung đại diện cho công việc ban đầu của bạn và/hoặc bạn có tất cả các quyền cần thiết để
                        tiết lộ Nội dung đó. Trong quá trình này, bạn không vi phạm quyền của bất kỳ bên thứ ba nào và
                        bạn không biết về bất kỳ cá nhân hoặc tổ chức nào khác mà quyền của họ sẽ bị xâm phạm hoặc vi
                        phạm do việc xem và sử dụng Nội dung như mô tả trong những Điều khoản này.</li>
                    <li>Bạn đồng ý sử dụng CodePro chỉ cho các mục đích pháp, đúng đắn và tuân thủ những Điều khoản này.
                        Việc tiết lộ Nội dung của bạn không vi phạm mối quan hệ tình cảm mật thiết với bất kỳ bên thứ ba
                        nào hoặc tạo ra một mối quan hệ mật thiết với chúng tôi.</li>
                    <li>Bạn hiểu rằng bạn chịu trách nhiệm cho Nội dung bạn tải lên, đăng, gửi đi, truyền tải hoặc bất
                        kỳ cách nào khác làm cho Nội dung của bạn trở nên có sẵn qua CodePro. Trừ khi được phép trong
                        những Điều khoản này, bạn không có quyền sử dụng, sao chép, tạo ra các tác phẩm phái sinh, phân
                        phối, thực hiện công cộng hoặc trình diễn công cộng, hoặc truyền tải bất kỳ Nội dung nào không
                        thuộc sở hữu của bạn, ngoại trừ việc xem Nội dung hoặc thách thức liên quan trên hoặc qua
                        CodePro.</li>
                </ul>
                <p>4. Chúng tôi không thể và không cần kiểm soát tất cả Nội dung được đăng bởi CodeProer trên hoặc qua
                    CodePro, và chúng tôi không đảm bảo về độ chính xác, tính toàn vẹn hoặc chất lượng của Nội dung đó.
                    Bạn đồng ý rằng dưới mọi tình huống, chúng tôi sẽ không chịu trách nhiệm theo bất kỳ hình thức nào
                    đối với bất kỳ Nội dung nào, bao gồm bất kỳ lỗi hoặc thiếu sót nào trong bất kỳ Nội dung nào, hoặc
                    bất kỳ mất mát hoặc thiệt hại nào của bất kỳ loại nào gặp phải do việc sử dụng bất kỳ Nội dung nào.
                    Bạn hiểu rằng bạn phải đánh giá và chịu mọi rủi ro liên quan đến việc sử dụng bất kỳ Nội dung nào,
                    bao gồm sự phụ thuộc vào Nội dung, tính toàn vẹn và chính xác của Nội dung đó. Chúng tôi không chứng
                    nhận và không chịu trách nhiệm về tính chính xác, tính hữu ích, an toàn hoặc liên quan đến Nội dung.
                    BẠN ĐỒNG Ý MIỄN TRÁCH VÀ ĐỒNG Ý MIỄN TRÁCH, BẤT KỲ QUYỀN HOẶC BIỆN PHÁP PHÁP LÝ HOẶC CÔNG BẰNG BẠN
                    CÓ HOẶC CÓ THỂ CÓ ĐỐI VỚI CHÚNG TÔI LIÊN QUAN ĐẾN VẤN ĐỀ ĐÓ.</p>
                <p>5. Chúng tôi giữ quyền, theo quyết định có ý thức của chúng tôi, từ chối việc tải lên hoặc lưu trữ
                    một số Nội dung lên CodePro hoặc chỉnh sửa hoặc loại bỏ bất kỳ Nội dung nào vào bất kỳ thời điểm nào
                    mà không cần thông báo.</p>
                <p>6. Bạn hoàn toàn chịu trách nhiệm về Nội dung của bạn và các hậu quả của việc đăng hoặc xuất bản nó.
                    Liên quan đến Nội dung của bạn, bạn khẳng định, đại diện và bảo đảm rằng:</p>
                <p style="margin-left: 2vmin;">Bạn sở hữu, hoặc có các giấy phép, quyền, sự đồng ý và quyền lực cần
                    thiết để sử dụng và ủy quyền
                    chúng tôi sử dụng tất cả các quyền tài sản, nhãn hiệu, bản quyền hoặc quyền sở hữu duyên hải khác
                    trong và đối với Nội dung của bạn để cho phép việc bao gồm và sử dụng Nội dung của bạn theo cách mô
                    tả trong những Điều khoản này, và để cấp quyền và giấy phép như đã nêu ở trên.</p>
                <p style="margin-left: 2vmin;">
                    Nội dung của bạn, sử dụng của chúng tôi về Nội dung của bạn theo những Điều khoản này và việc thực
                    hiện
                    các quyền và giấy phép được nêu ở trên, không và sẽ không:
                </p>
                <ul>
                    <li>Xâm phạm, vi phạm hoặc lạm dụng bất kỳ quyền của bên thứ ba nào, bao gồm bất kỳ quyền tác giả,
                        nhãn hiệu, bằng sáng chế, bí mật thương mại, quyền đạo đức, Quyền riêng tư, quyền nổi tiếng hoặc
                        bất kỳ quyền sở hữu trí tuệ hoặc quyền độc quyền nào khác;</li>
                    <li>Nói xấu, phỉ báng, gièm pha hoặc xâm phạm quyền riêng tư, quyền công bố hay quyền sở hữu khác
                        của bất kỳ người hoặc tổ chức nào khác;</li>
                    <li>Vi phạm bất kỳ luật pháp hoặc quy định áp dụng nào.</li>
                </ul>
                <p>7. Nếu bạn cung cấp cho chúng tôi bất kỳ ý kiến, báo cáo lỗi, phản hồi hoặc sửa đổi được đề xuất hoặc
                    gợi ý từ bạn ("Phản hồi"), chúng tôi sẽ có quyền sử dụng Phản hồi đó theo quyết định của chúng tôi,
                    bao gồm, nhưng không giới hạn, việc tích hợp các thay đổi đề xuất đó vào CodePro và/hoặc các sản
                    phẩm và dịch vụ khác của chúng tôi. Bạn trao cho chúng tôi một giấy phép vĩnh viễn, không thể thu
                    hồi, không độc quyền dưới tất cả các quyền cần thiết để tích hợp và sử dụng Phản hồi của bạn cho bất
                    kỳ mục đích nào.</p>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Quy tắc ứng xử</div>
                </div>
                <p>1. Chúng tôi có quyền, nhưng không có nghĩa vụ, loại bỏ hoặc chặn Nội dung từ CodePro mà chúng tôi
                    xác
                    định theo quyền đánh giá hợp lý của mình là vi phạm Điều khoản này, là bất hợp pháp, gây xúc phạm,
                    đe dọa, phỉ báng, bôi nhọ, obscene hoặc có tính chất không chấp nhận khác, làm vi phạm quyền sở hữu
                    trí tuệ của bên thứ ba hoặc làm tổn thương chất lượng hoặc tinh thần đặc biệt của CodePro. Chúng
                    tôi cũng có quyền, nhưng không có nghĩa vụ, hạn chế hoặc thu hồi quyền sử dụng tài khoản CodePro
                    của bất kỳ CodeProer nào đăng tải nội dung như vậy hoặc tham gia vào hành vi như vậy.</p>
                <p>2. Bạn một mình chịu trách nhiệm cho tương tác của bạn với các CodeProer khác qua CodePro. Nếu
                    bạn có mâu thuẫn với một hoặc nhiều CodeProer hoặc nếu bạn không đồng ý với kết quả của một Thách
                    thức, phương án duy nhất của bạn là ngừng sử dụng CodePro. Bạn không thể rút lại và mãi mãi giải
                    phóng chúng tôi (và các sĩ quan, giám đốc, đại diện, chi nhánh, nhà thầu, liên doanh và nhân viên
                    của chúng tôi) khỏi các yêu sách, yêu cầu và thiệt hại (thực sự và gián tiếp) của mọi loại và tự
                    nhiên, đã biết và chưa biết, phát sinh từ hoặc liên quan đến những mâu thuẫn đó.</p>
                <p>3. Chúng tôi không cho phép các hoạt động vi phạm bản quyền thông qua CodePro và chúng tôi giữ
                    quyền chấm dứt quyền truy cập vào CodePro và loại bỏ toàn bộ nội dung do bất kỳ người nào bị xác
                    định là người vi phạm bản quyền nhiều lần. Bất kỳ hoạt động nghi ngờ là gian lận, lạm dụng hoặc bất
                    hợp pháp có thể là lý do để chấm dứt quyền sử dụng CodePro của bạn và có thể được chuyển đến các
                    cơ quan chức năng thích hợp. Những biện pháp này là bổ sung cho bất kỳ biện pháp khác chúng tôi có
                    thể có theo pháp lý hoặc trong tư cách công bằng.</p>
                <p>4. Chúng tôi sẽ sử dụng sự hiểu biết thông thường của doanh nghiệp về hành vi hoặc Nội dung được phép
                    trên hoặc qua CodePro. Ví dụ về Nội dung hoặc hành vi không chấp nhận bao gồm:</p>
                <ul>
                    <li>Lạm dụng, quấy rối, đe dọa, chỉ trích hoặc đe dọa bất kỳ người hoặc tổ chức nào.</li>
                    <li>
                        Tải lên hoặc gửi nội dung khiêu dâm, đe dọa, làm xấu hổ, gây thù ghét, phân biệt chủng tộc hoặc
                        dân
                        tộc, bôi nhọ hoặc nội dung không thích hợp khác.
                    </li>
                    <li>
                        Tải lên vật liệu bản quyền không phải của bạn hoặc mà bạn không có quyền pháp lý để phân phối,
                        hiển
                        thị và làm cho nó có sẵn cho người khác.
                    </li>
                    <li>Đưa ra các đề xuất không mong muốn, quảng cáo, đề nghị hoặc gửi thư rác (spam).</li>
                    <li>
                        Mạo danh người khác hoặc giả vờ là liên quan đến một tổ chức mà bạn không liên quan hoặc đại
                        diện
                        sai về mức độ liên quan hoặc vai trò của bạn với một tổ chức liên quan hoặc nguồn, danh tính
                        hoặc
                        nội dung được truyền.
                    </li>
                    <li>
                        Tham gia hoặc đóng góp vào bất kỳ hoạt động bất hợp pháp hoặc hoạt động vi phạm quyền của người
                        khác.
                    </li>
                    <li>Sử dụng ngôn ngữ xúc phạm, phân biệt hoặc có hình ảnh quá mức rõ ràng.</li>
                    <li>Truyền các loại phần mềm, virus hoặc phần mềm có hại.</li>
                    <li>
                        Tiết lộ thông tin cá nhân hoặc tài sản của người khác mà không được phép bởi quy tắc hoặc luật
                        lệ áp
                        dụng.
                    </li>
                    <li>
                        Chia sẻ Tài khoản hoặc Quyền xác thực của CodePro với bất kỳ bên thứ ba nào hoặc khuyến khích
                        bất
                        kỳ Hacker nào khác làm như vậy.
                    </li>
                </ul>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Chấm dứt</div>
                </div>
                <p>1. Chúng tôi, theo quyền đánh giá hợp lý của chúng tôi, có thể chấm dứt Tài khoản và/hoặc Chứng chỉ
                    CodePro của bạn và loại bỏ hoặc hủy bỏ bất kỳ Nội dung nào trong CodePro nếu chúng tôi tin rằng
                    bạn đã vi phạm hoặc hành động không nhất quán với nội dung và tinh thần của các Điều khoản này.</p>
                <p>2. Bạn có thể chấm dứt Tài khoản CodePro và quyền sử dụng CodePro của bạn vào bất kỳ thời điểm
                    nào vì bất kỳ lý do nào hoặc không có lý do nào, bằng cách liên hệ với chúng tôi qua hỗ trợ người
                    dùng tại <a href="mailto:support@codepro">support@codepro</a>. Tuy nhiên, nếu bạn có một thỏa thuận
                    riêng với chúng tôi có điều
                    khoản xung đột liên quan đến việc chấm dứt, các điều khoản đó sẽ có ưu tiên.</p>
                <p>3. Sau khi hủy bỏ hoặc chấm dứt Tài khoản CodePro của bạn vì bất kỳ lý do nào, bạn sẽ không còn
                    quyền
                    truy cập vào Tài khoản CodePro của mình và mọi thông tin và Nội dung trong Tài khoản CodePro của
                    bạn hoặc mà bạn đã lưu trữ trên CodePro có thể, nhưng không bắt buộc, bị chúng tôi xóa. Chúng tôi
                    sẽ không chịu trách nhiệm cho thông tin hoặc Nội dung bị xóa do việc hủy bỏ hoặc chấm dứt Tài khoản
                    CodePro của bạn vì bất kỳ lý do nào.</p>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Quyền sở hữu tài sản và trí tuệ</div>
                </div>
                <p>CodePro là sở hữu và được vận hành bởi TNP. Giao diện trực quan, đồ họa, thiết kế, biên soạn, thông
                    tin, mã máy tính, sản phẩm, phần mềm (bao gồm bất kỳ phần mềm có thể tải xuống nào), dịch vụ, và tất
                    cả các yếu tố khác của CodePro được cung cấp bởi TNP ("Vật liệu") được bảo vệ bởi luật bản quyền,
                    luật trang phục thương hiệu, luật sở hữu công nghiệp và thương hiệu, các hiệp ước quốc tế, và tất cả
                    các quyền sở hữu trí tuệ và tài sản độc quyền khác, cũng như các luật pháp liên quan khác. Ngoại trừ
                    nội dung của bên thứ ba hoặc Nội dung được bạn tải lên, tất cả các Vật liệu đều là tài sản bị bản
                    quyền của TNP hoặc các công ty con hoặc công ty liên kết của nó và/hoặc các bên cấp phép thứ ba. Tất
                    cả các thương hiệu, dịch vụ và tên thương mại là tài sản độc quyền của TNP hoặc các công ty liên kết
                    của nó và/hoặc các bên cấp phép thứ ba. Trừ khi được TNP ủy quyền một cách rõ ràng, bạn đồng ý không
                    bán, cấp phép, phân phối, sao chép, sửa đổi, công bố công khai hoặc hiển thị công khai, truyền, xuất
                    bản, chỉnh sửa, điều chỉnh, tạo ra các tác phẩm phái sinh từ, hoặc sử dụng Vật liệu một cách trái
                    phép.</p>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Trang web và dịch vụ của bên thứ ba</div>
                </div>
                <p>CodePro có thể bao gồm các liên kết đến trang web hoặc dịch vụ của bên thứ ba ("Liên kết") chỉ vì
                    mục đích thuận tiện. Chúng tôi không chứng nhận bất kỳ Liên kết nào hoặc thông tin, tư liệu, sản
                    phẩm, hoặc dịch vụ nào chứa đựng trên các Liên kết khác hoặc có thể truy cập thông qua các Liên kết
                    khác. Hơn nữa, chúng tôi không đưa ra bất kỳ bảo hành nào, có tính chất rõ ràng hoặc ngụ ý, đối với
                    thông tin, tư liệu, sản phẩm, hoặc dịch vụ nào mà có trên hoặc có thể truy cập thông qua các Liên
                    kết. Việc truy cập và sử dụng các Liên kết, bao gồm cả thông tin, tư liệu, sản phẩm và dịch vụ trên
                    các Liên kết hoặc có thể truy cập thông qua các Liên kết, đều hoàn toàn nằm trong trách nhiệm của
                    bạn.</p>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Bồi thường</div>
                </div>
                <p>Bạn đồng ý bảo vệ và không làm tổn thương TNP, các công ty liên kết, nhà cung cấp, đối tác, quan
                    chức, nhà thầu và nhân viên của nó khỏi bất kỳ khiếu nại hoặc yêu cầu nào được đưa ra bởi bất kỳ bên
                    thứ ba nào do hành động của bạn khi sử dụng CodePro, một khiếu nại rằng bạn hoặc bất kỳ bên thứ ba
                    nào sử dụng Credential của bạn đã vi phạm bất kỳ quyền sở hữu trí tuệ hoặc quyền khác của bất kỳ cá
                    nhân hoặc tổ chức nào sử dụng CodePro hoặc vi phạm những Điều khoản này do bạn hoặc bất kỳ bên thứ
                    ba nào sử dụng Credential của bạn. TNP giữ quyền, tại chi phí của chúng tôi, để đảm nhận quyền phòng
                    vệ độc quyền và kiểm soát bất kỳ vấn đề nào mà bạn phải đảm bảo cho chúng tôi, và bạn đồng ý hợp tác
                    với phòng vệ của chúng tôi đối với những khiếu nại này. Điều khoản bảo hiểm này sẽ không áp dụng nếu
                    một bên thứ ba sử dụng Credential của bạn do hành động hoặc thiếu sót của TNP.</p>
                <div class="xxp">
                    <div class="line-ver"></div>
                    <div class="xx-header">Điều khoản khác</div>
                </div>
                <p>
                    1. Những Điều khoản này sẽ tiếp tục có hiệu lực đầy đủ trong thời gian bạn sử dụng CodePro. Những
                    điều
                    khoản có thể tiếp tục hoạt động sau khi bạn ngừng sử dụng CodePro (bao gồm mà không giới hạn quyền
                    cấp
                    phép Về Nội dung của bạn cho chúng tôi và các điều khoản chung trong phần này) sẽ tồn tại sau khi
                    bạn
                    ngừng sử dụng CodePro.
                </p>

                <p>
                    2. Bạn đồng ý rằng bất kỳ quy định pháp luật nào trái lại hoặc bất kỳ khiếu nại hoặc nguyên nhân
                    hành động
                    phát sinh từ việc sử dụng CodePro hoặc liên quan đến những Điều khoản này phải được đệ trình trong
                    vòng một (1) năm kể từ khi khiếu nại hoặc nguyên nhân hành động đó nảy sinh hoặc sẽ bị loại trừ mãi
                    mãi.
                </p>

                <p>
                    3. Bạn đồng ý rằng chúng tôi có thể cung cấp thông báo cho bạn, bao gồm những thông báo liên quan
                    đến sự
                    thay đổi trong những Điều khoản này, qua chức năng thông báo của CodePro.
                </p>

                <p>
                    4. Việc chúng tôi không thực hiện hoặc không áp dụng bất kỳ quyền lợi hoặc quy định nào của những
                    Điều
                    khoản này sẽ không tạo thành sự từ chối của quyền lợi hoặc quy định đó. Nếu một tòa án có thẩm quyền
                    xác
                    định một quy định nào đó của những Điều khoản này là không hợp lệ, các bên vẫn đồng ý rằng tòa án
                    nên cố
                    gắng thực hiện ý chí của các bên như thể hiện trong quy định đó, và những quy định khác của những
                    Điều
                    khoản này sẽ vẫn có hiệu lực đầy đủ.
                </p>

                <p>
                    5. Bạn không thể chuyển nhượng Tài khoản CodePro của bạn hoặc bất kỳ quyền và giấy phép nào được
                    cấp dưới
                    đây và bất kỳ sự chuyển nhượng nào của bạn sẽ không có hiệu lực.
                </p>

                <p>
                    6. Tất cả các phần của những Điều khoản này mà theo tính chất tương ứng của chúng nên tồn tại sau sự
                    hủy bỏ
                    hoặc chấm dứt những Điều khoản này sẽ tồn tại sau sự chấm dứt hoặc hủy bỏ những Điều khoản này. Bạn
                    đồng
                    ý rằng vi phạm những quy định này sẽ gây thiệt hại không thể khắc phục và do đó chúng tôi có thể yêu
                    cầu
                    bồi thường ngoại trừ bất kỳ biện pháp pháp lý khác theo những Điều khoản này theo pháp luật hoặc
                    quyền
                    lực dân sự.
                </p>

                <p>
                    7. Bạn đồng ý rằng trừ khi có quy định khác được cung cấp rõ ràng trong những Điều khoản này, không
                    có bên
                    thụ động nào làm lợi ích thứ ba theo những Điều khoản.
                </p>
            </div>
        </div>
    </div>
</body>

<script src="https://kit.fontawesome.com/c32c52563f.js" crossorigin="anonymous"></script>

</html>