@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.all-courses {
    float: right;
    width: 63%;
    height: auto;
    padding: 1%;
    font-family: QuickSand;
}

.all-courses .header-title{
    font-size: 5vb;
    margin-bottom: 1%;
}

.all-courses .arrange {
    float: right;
    margin-right: 2%;
    text-align: center;
    font-size: 3vb;
    font-weight: bold;
}

.all-courses .arrange .select-box{
    text-align: center;
    height: 30px;
    font-size: 2.8vb;
}

.all-courses i {
    float: right;
    margin-top: -1%;
    margin-right: 1.5%;
    color: rgb(194, 194, 194);
}

.all-courses i:hover {
    color: black; 
}

.all-courses .grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 0% 
}

.all-courses .grid-container .column {
    padding: 3%;
}

.all-courses .grid-container .column .course {
    border: 0px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.266);
    border-radius: 15px;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
    overflow: hidden;
}

.all-courses .grid-container .column .course:hover {
    margin-left: -1%;
    margin-top: -1%;
    margin-bottom: 6%;
    box-shadow: 4px 4px 13px 0px black;
}

.all-courses .grid-container .column .course img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    height: 50%;
}

.all-courses .grid-container .column .course a {
    margin-left: 5%;
    font-size: 3vb;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.all-courses .grid-container .column .course a:hover {
    text-decoration: underline;
}

.all-courses .grid-container .column .course .info {
    margin-left: 5%;
    font-size: 2vb;
    height: 200%;
}

.all-courses .grid-container .column .course .time {
    float: left;
    margin-left: 5%;
    font-size: 2vb;
}

.all-courses .grid-container .column .course .student .num_student {
    float: right;
    margin-right: 5%;
    font-size: 2vb;
}

.all-courses .grid-container .column .course .student i {
    float: right;
    margin-top: 5.5%;
    margin-right: 2%;
}

.all-courses .change-page {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 36.7%;
}

.all-courses .change-page li {
    margin: 0 5px;
}

.all-courses .change-page a {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: #000000;
    font-size: 3vb;
}

.all-courses .change-page a:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-weight: bolder;
}

.all-courses .change-page i {
    border: 2px solid rgba(0, 0, 0, 0.272);
    border-radius: 5px;
    width: 10px;
    height: 10px;
    padding: 10px 10px 14px 10px;
    font-size: 18px; 
    cursor: pointer;
}

.change-page i:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
}