:root {
    --box-shadow: rgb(174, 174, 174);
    --box-shadow-hover: rgb(182, 183, 255);
    --page-hover: #464bef;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: QuickSand;
}

.all-documents {
    width: 100%;
}

.all-documents .arrange-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vmin;
}

.all-documents .num-of-res {
    font-weight: bold;
    font-size: 3.5vmin;
}

.all-documents .arrange span {
    font-weight: bold;
}

.all-documents .arrange {
    font-size: 3vmin;
}

.all-documents select {
    background-color: rgb(226, 243, 255);
    margin-top: 1vmin;
    font-size: 3vmin;
    width: 100%;
    font-family: QuickSand;
    padding: 1vmin;
    border-radius: 1vmin;
    border: 0.2vmin solid black;
    cursor: pointer;
}

.all-documents select:hover,
select:focus {
    background-color: rgb(191, 228, 255);
}

.all-documents .document {
    position: relative;
    height: 29.2vmin;
    display: flex;
    background-color: white;
    padding: 4vmin 6vmin;
    margin-bottom: 4vmin;
    border-radius: 3vmin;
    box-shadow: 0.1vmin 0.1vmin 1vmin 0.1vmin var(--box-shadow);
    justify-content: space-between;
    cursor: pointer;
}

.all-documents .document:hover {
    box-shadow: 0.1vmin 0.1vmin 2vmin 0.1vmin var(--box-shadow-hover);
}

.all-documents .document .document-content-left {
    width: 32%;
}

.all-documents .document .document-content-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.all-documents .document .document-content-right h3 {
    margin: 0;
    font-size: 3vmin;
}

.all-documents .document .document-content-right span {
    font-size: 2.5vmin;
    color: gray;
}

.all-documents .document .document-content-right p {
    margin: 0;
    font-size: 2.2vmin;
    color: gray;
}

.all-documents .document .document-content-left img {
    width: 100%;
    height: 100%;
    border-radius: 1vmin;
}

.all-documents .change-page {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.all-documents .change-page li {
    margin: 0 0.8vmin;
}

.all-documents .change-page a {
    border-radius: 0.8vmin;
    text-decoration: none;
    padding: 0.8vmin 1.6vmin 0.8vmin 1.6vmin;
    color: #000000;
    font-size: 3vb;
}

.all-documents .change-page a[href="#1"] {
    background-color: var(--page-hover);
    color: white;
    font-weight: bold;
}

.all-documents .change-page a:hover {
    color: rgb(255, 255, 255);
    background-color: var(--page-hover);
    font-weight: bolder;
    font-weight: bold;
}

.all-documents .change-page .icon {
    border: 0.3vmin solid rgba(0, 0, 0, 0.272);
    border-radius: 0.8vmin;
    width: 1vmin;
    height: 3.3vmin;
    cursor: pointer;
    padding: 0.8vmin 1.6vmin 0.8vmin 1.6vmin;
}

.all-documents .change-page i {
    font-size: 3vmin;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.change-page .icon:hover {
    font-weight: bold;
    border-color: var(--page-hover);
    color: rgb(255, 255, 255);
    background-color: var(--page-hover);
}