@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.all-courses {
    position: relative;
    float: right;
    width: 70%;
    height: auto;
    padding: 1%;
    font-family: QuickSand;
}

.all-courses h1{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 0%;
    margin: 0%;
}

.all-courses .header-title{
    font-size: 5vb;
}

.all-courses .arrange {
    text-align: right;
    margin: 15% 0% 0% 0%;
    text-align: center;
    font-size: 2.4vb;
    font-weight: bold;
}

.all-courses .arrange label i{
    position: relative;
    float: left;
    text-align: left;
    margin: 0% -25% 0% 30%;
}

.all-courses .arrange .select-box{
    text-align: center;
    height: 30px;
    font-size: 2vb;
}

.all-courses i {
    float: right;
    margin-top: -1%;
    margin-right: 1.5%;
    color: rgb(194, 194, 194);
}

.all-courses i:hover {
    color: black; 
}

.all-courses .grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-column-gap: 0%;
    height: max-content;
}

.all-courses .grid-container .column {
    padding: 3%;
}

.all-courses .grid-container .column .course {
    position: relative;
    border: 0px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.266);
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    overflow: hidden;
}

.all-courses .grid-container .column .course:hover {
    margin-left: -1%;
    margin-top: -1%;
    margin-bottom: 6%;
    box-shadow: 4px 4px 13px 0px black;
}



.all-courses .grid-container .column .course a {
    position: relative;
    font-size: 3.2vb;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding: 0% 0% 0% 5%;
    height: 30%;
    transition: text-decoration 0.3s;
}

.all-courses .grid-container .column .course a:hover {
    text-decoration: underline;
}

.all-courses .grid-container .column .course img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0% 0% 3% -5%;
    width: 100%;
    height: 200px;
}

.all-courses .grid-container .column .course .info {
    margin: 5% 5% 5% 5%;
    line-height: 4.3vb;
    font-size: 2.5vb;
    height: 20%;
    margin-bottom: 15%;
}

.all-courses .grid-container .column .course .info i{
    position: relative;
    float: left;
    margin: 2% 3% 0% 0% ;
}

.all-courses .grid-container .column .course .time-student{
    position: absolute;
    top: 92%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-column-gap: 0%;
}

.all-courses .grid-container .column .course .time-student .time {
    text-align: left;
    margin-left: 10%;
    font-size: 2.5vb;
}

.all-courses .grid-container .column .course .time-student .star {
    text-align: center;
    font-size: 2.7vb;
    margin-left: -2%;
}

.all-courses .grid-container .column .course .time-student .time i, .all-courses .grid-container .column .course .time-student .star i{
    margin: 1% 5% 1% 1%;
    float: left;
    color: gold;
}

.all-courses .grid-container .column .course .time-student .student {
    text-align: right;
    margin: 0% 10% 0% 0%;
    font-size: 2.5vb;
}

.all-courses .grid-container .column .course .time-student .student i{
    float: left;
    margin: 1% 0% 1% 31%;
    color: black;
}


.all-courses .change-page {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 36.7%;
}

.all-courses .change-page li {
    margin: 0 5px;
}

.all-courses .change-page a {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: #000000;
    font-size: 3vb;
}

.all-courses .change-page a:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-weight: bolder;
}

.all-courses .change-page i {
    border: 2px solid rgba(0, 0, 0, 0.272);
    border-radius: 5px;
    width: 10px;
    height: 10px;
    padding: 10px 10px 14px 10px;
    font-size: 18px; 
    cursor: pointer;
}

.change-page i:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
}