:root {
    --box-shadow: rgb(174, 174, 174);
    --ui-address: #464bef;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: QuickSand;
}

a {
    text-decoration: none;
    color: black;
}

.change-password {
    padding-bottom: 10vmin;
    background-color: #f1f1f1;
}

.change-password #address {
    display: flex;
    align-items: center;
    padding: 4vmin 12vmin;
}

.change-password #address i {
    margin: 0 2vmin;
    font-size: 1.5vmin;
}

.change-password #address a {
    font-size: 2.2vmin;
    color: var(--ui-address);
}

.change-password #address a:hover {
    color: black;
    text-decoration: underline;
}

.change-password .ur-info {
    display: flex;
    margin: 0 12vmin;
    gap: 3%;
}

.change-password .selection {
    background-color: white;
    width: 20%;
    padding: 5vmin 4vmin;
}

.change-password .selection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.change-password .selection a:nth-child(3),
a:hover {
    color: var(--ui-address);
    font-weight: bold;
}

.change-password .selection a {
    font-size: 2.2vmin;
    cursor: pointer;
}

.change-password .selection li {
    margin-bottom: 2vmin;
}

.change-password .info-and-contact {
    background-color: white;
    padding: 5vmin;
    width: 77%;
}

.change-password .info-and-contact h1 {
    margin: 0;
    color: var(--ui-address);
    font-weight: bold;
    font-size: 3.5vmin;
    margin-bottom: 2.5vmin;
}

.change-password .info-and-contact .pass:not(:last-child) {
    margin-bottom: 2.5vmin;
}

.change-password .info-and-contact span {
    font-size: 2.2vmin;
    font-weight: bold;
}

.change-password .info-and-contact .pass a {
    font-weight: normal;
    color: #464bef;
}

.change-password .info-and-contact .pass a:hover {
    text-decoration: underline;
    color: #2e32a0;
    font-weight: 500;
}

.change-password .info-and-contact input {
    margin-top: 1vmin;
    box-sizing: border-box;
    width: 100%;
    height: 4.5vmin;
    padding: 0 1.5vmin;
    font-family: QuickSand;
    font-size: 2vmin;
    border: 0.15vmin solid var(--box-shadow);
    border-radius: 0.5vmin;
    box-shadow: 0 0 0.3vmin inset var(--box-shadow);
}

.change-password .info-and-contact button {
    font-family: QuickSand;
    padding: 1.5vmin 5vmin;
    cursor: pointer;
    border-radius: 5vmin;
    font-size: 2vmin;
    transition: 0.3s ease-in-out;
    transition-property: box-shadow, border, color, background-color;
    background-color: #4D96FF;
    border: 0.2vmin solid #4D96FF;
    color: white;
    float: right;
}

.change-password .info-and-contact button:hover {
    box-shadow: 0 0.5vmin 0.7vmin #4D96FF;
    border: 0.2vmin solid #4D96FF;
    color: #4D96FF;
    background-color: white;
    transition: 0.3s ease-in-out;
    transition-property: box-shadow, border, color, background-color;
}