:root {
    --box-shadow: rgb(174, 174, 174);
    --ia-address: #464bef;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: QuickSand;
}

a {
    text-decoration: none;
    color: black;
}

.content-courses #address {
    display: flex;
    align-items: center;
    padding: 4vmin 12vmin;
}

.content-courses #address i {
    margin: 0 2vmin;
    font-size: 1.5vmin;
}

.content-courses #address a {
    font-size: 2.2vmin;
    color: var(--ia-address);
}

.content-courses #address a:hover {
    color: black;
    text-decoration: underline;
}

.content-courses .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 10vmin;
    padding-bottom: 7vmin;
}

.content-courses #filter {
    width: 22%;
}

.content-courses .courses {
    width: 70%;
}