@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

.body{
    margin: 0;
    padding: 0;
}

.detail{
    margin-top: 11%;
    font-family: QuickSand;
}

.detail .address {
    display: flex;
    align-items: center;
    padding: 4vb 12vb;
}

.detail .address i {
    margin: 0 2vb;
    font-size: 1.5vb;
}

.detail .address a {
    font-size: 2.2vb;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.detail .address a:hover {
    color: black;
    text-decoration: underline;
}

.detail .course-general-info{
    position: relative;
    z-index: 1;
    padding: 1% 2% 2% 2%;
    background: url(../images/courses/background/course-background.jpg)no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
}

.detail .course-general-info::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000d4, #0000009a, #000000d4);
    z-index: -1;
}

.detail .course-general-info .logo{
    position: absolute;
    top: 25%;
    left: 10%;
}

.detail .course-general-info .logo img{
    width: 12%;
    height: auto;
}

.detail .course-general-info .course-name{
    position: absolute;
    top: 45%;
    left: 7%;
    color: white;
    font-weight: bolder;
    font-size: 7vh;
}

.detail .course-general-info .register{
    position: relative;
    top: 30%;
    left: 63%;
    border: 1px solid black;
    background-color: white;
    width: 25%;
    height: 35%;
    padding: 0.5% 1% 1% 1%;
}

.detail .course-general-info .register p{
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.detail .course-general-info .register a{
    text-decoration: none;
}

.detail .course-general-info .register .dangky{
    position: absolute;
    z-index: 999;
    top: 52%;
    left: 28%;
    width: 45%;
    height: 25%;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    background-color: blue;
    color: white;
    text-align: center;
    padding: 4% 1% 0% 1%;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
}

.detail .course-general-info .register .dangky:hover{
    background-color: rgb(0, 0, 175);
    font-weight: bolder;
}

.detail .info{
    position: relative;
    top: -50px;
    left: 7%;
    z-index: 1;
    width: 86%;
    height: 100px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    background-color: #ffffff;
} 

.detail .info table{
    position: absolute;
    top: 10%;
    border-collapse: collapse;
    width: 100%;
    height: 80%;
}

.detail .info td {
    width: 25%;
    height: 80%;
    text-align: center;
    font-size: 3.5vh;
    font-weight: bolder;
}

.detail .info i{ margin-right: 5%; }

.detail .course-detail{
    z-index: 0;
    font-family: QuickSand;
}

.detail .course-detail .danhmuc{
    margin: 0% 8% 0% 8%;
}

.detail .course-detail .danhmuc table{
    border-collapse: collapse;
    width: 60%;
    height: 50px;
}

.detail .course-detail .danhmuc td {
    width: 25%;
    font-size: 3vb;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 100%;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.234);
    transition: background-color 0.1s, font-size 0.1s;
}

.detail .course-detail .danhmuc td:hover{
    font-size: 3.5vb;
    border-bottom: 5px solid blue;
}

.detail .course-detail .danhmuc .select{
    font-size: 3.5vb;
    color: black; 
    border-bottom: 5px solid blue;
}

.section:first-child {
    margin-top: 10%;
}

.detail .course-detail .tongquan{
    margin: 1% 8% 0% 8%;
    color: rgb(0, 0, 81);
}

.detail .course-detail .tongquan h1{
    color: black;
    font-size: 5vb;
}

.detail .course-detail .tongquan li, .detail .course-detail .tongquan progress {
    margin-bottom: 1%; 
}

.detail .course-detail .tongquan .container{
    display: flex;
}

.detail .course-detail .tongquan .mota{
    flex: 2;
    position: relative;
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.055);
    padding: 0% 2% 1% 2%;
    text-align: justify;
    font-size: 2.8vb;
    font-weight: normal;
    color: rgb(0, 0, 81);
}

.detail .course-detail .tongquan .spacer{
    width: 20px;
}

.detail .course-detail .tongquan .kynang{
    flex: 1;
    position: relative;
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.055);
    padding: 0% 2% 1% 2%;
    font-size: 2.8vb;
    font-weight: normal;
}

.detail .course-detail .tongquan .kynang progress{
    width: 300px;
    height: 20px;
}

.detail .course-detail .tongquan .noidung{
    margin-top: 20px;
    position: relative;
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.055);
    padding: 1% 2% 1% 2%;
    text-align: justify;
    font-size: 2.8vb;
    font-weight: normal; 
}

/*--------------------------------------------------------------*/

.detail .course-detail .container-dsbaihoc{
    margin: 0% 8% 0% 8%;
}

.detail .course-detail .container-dsbaihoc h1{
    color: black;
    font-size: 5vb;
}

.detail .course-detail .ds-baihoc{
    margin: 2% 0%;
    display: flex;
}

.detail .course-detail .ds-baihoc .chitiet{
    flex: 2;
    margin-right: 1%;
}

.detail .course-detail .ds-baihoc .giangvien{
    border-radius: 10px;
    flex: 1;
    height: fit-content;
    padding-top: 3%;
    text-align: center;
    background-color: white;
}

.detail .course-detail .ds-baihoc .chitiet .tieude{
    border: 1px solid rgba(0, 0, 0, 0.196);
    border-radius: 10px;
    height: 60px;
    padding: 2% 1% 0% 3%;
    margin-bottom: 1%;
    font-size: 2.8vb;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}

.detail .course-detail .ds-baihoc .chitiet .tieude .statistic{
    font-size: 1.8vb;
    color: rgba(128, 128, 128, 0.589);
    margin-top: 1%;
}

.detail .course-detail .ds-baihoc .chitiet .tieude i{
    position: relative;
    float: right;
    cursor: pointer; 
    margin: 1.2% 1% 0% 10%;
}

.detail .course-detail .ds-baihoc .chitiet .baihoc a{
    text-decoration: none;
    color: black;
}

.detail .course-detail .ds-baihoc .chitiet .baihoc .tiet{
    border-radius: 5px;
    margin-left: 3%;
    padding: 1% 1% 0% 1%;
    margin-bottom: 1%;
    height: 40px;
    font-size: 2.8vb;
    cursor: pointer;
}

.detail .course-detail .ds-baihoc .chitiet .baihoc .tiet:hover{
    background: rgba(0, 0, 255, 0.082);
    color: rgb(0, 0, 85);
    font-size: 2.9vb;
    font-weight: bold;
}

.detail .course-detail .ds-baihoc .chitiet .baihoc .tiet i{
    margin-right: 1%;
}

.detail .course-detail .ds-baihoc .chitiet .baihoc .tiet p{
    position: relative;
    float: right;
    font-size: 2vb;
    margin-top: 0.8%;
}

.detail .course-detail .ds-baihoc .giangvien img{
    border-radius: 100%;
    width: 30vb;
    height: 30vb;
    box-shadow: 0px 0px 4px 10px rgba(128, 128, 128, 0.098);
}

.detail .course-detail .ds-baihoc .giangvien .tengiangvien{
    font-size: 3.5vb;
    font-weight: bold;
}

.detail .course-detail .ds-baihoc .giangvien .chitietgiangvien{
    font-size: 2.6vb;
    display: flex;
    text-align: left;
}

.detail .course-detail .ds-baihoc .giangvien .chitietgiangvien .leftul{
    flex: 1;
    list-style: none;
    text-align: right;
    margin-right: 2px;
}

.detail .course-detail .ds-baihoc .giangvien .chitietgiangvien .rightul{
    flex: 2;
    list-style: none;
    margin-left: -4%;
}

.detail .course-detail .ds-baihoc .giangvien .chitietgiangvien li{
    margin-bottom: 1.5%;
}

/*---------------------------------------------*/
.detail .course-detail .comment{
    padding: 2% 8% 2% 8%;
    background-color: rgba(0, 0, 255, 0.055);
}

.detail .course-detail .comment h1{
    color: black;
    font-size: 5vb;
}

.detail .course-detail .comment .container{
    display: flex;
}

.detail .course-detail .comment .container .tonghopdanhgia{
    flex: 2;
    text-align: center;
}

.detail .course-detail .comment .container .tonghopdanhgia .tonghop{
    margin: 10% 0% 0% -10%;
}

.detail .course-detail .comment .container .tonghopdanhgia .tonghop .soluong{
    font-size: 20vb;
    margin: 0% 0% 0% 0%;
    color: rgb(0, 0, 0);
}

.detail .course-detail .comment .container .tonghopdanhgia .tonghop .star{
    font-size: 5vb;
    color: blue;
}

.detail .course-detail .comment .container .tonghopdanhgia .tonghop .more-info{
    font-size: 4vb;
}

.detail .course-detail .comment .container .tonghopdanhgia .chitietsao{
    text-align: left;
    text-decoration: none;
    list-style: none;
    font-size: 4vb;
    margin: 0% -10% 0% -10%;
}

.detail .course-detail .comment .container .tonghopdanhgia .chitietsao ul{
    line-height: 150%;
    list-style: none;
}

.detail .course-detail .comment .container .tonghopdanhgia .chitietsao ul progress{
    width: 75%;
}

.detail .course-detail .comment .container .tonghopdanhgia .chitietsao ul progress::-webkit-progress-value {
    background-color: gold; 
}

.detail .course-detail .comment .container .chitietdanhgia{
    flex: 3;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien{
    border-radius: 10px;
    background-color: white;
    padding: 2% 3% 2%;
    margin-bottom: 3%;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .hv-info{
    margin-bottom: 2%;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .hv-info img{
    display: inline-block;
    border-radius: 100%;
    width: 14vb;
    height: 14vb;
    margin: 0% 0% -2% 1% ;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .hv-info p{
    display: inline-block;
    margin-left: 3%;
    line-height: 160%;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .react .star{
    font-size: 2vb;
    color: yellow;
    display: flex;
    justify-content: flex-end; 
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .react .star i{
    margin-left: 7%;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .hv-info .react{
    font-size: 3vb;
    float: right;
    width: 15%;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .react .icon{
    display: flex;
    justify-content: flex-end; 
    margin: 0% 0% 10% 2%;
}


.detail .course-detail .comment .container .chitietdanhgia .hocvien .react .icon i{
    font-size: 3.5vb;
    margin: 15% 0% 0% 10%;
    cursor: pointer;
}

.detail .course-detail .comment .container .chitietdanhgia .hocvien .quote{
    font-size: larger;
    text-align: justify;
}

/*---------------------------------------------*/

.detail .course-detail .result{
    margin: 0% 8% 0% 8%;
    padding-top: 2%;
}

.detail .course-detail .result h1{
    font-size: 5vb;
}

.detail .course-detail .result img{
    width: 70%;
    margin: 1% 15% 2% 15%;
}

.detail .course-detail .result p{
    font-size: 3vb;
}