@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    margin-top: 0;
    padding: 0;
}

.filter {
    float: left;
    width: 23%;
    height: auto;
    border: 2px solid rgb(181, 181, 181);
    border-radius: 20px;
    box-shadow: 3px 3px 8px #e0e0e0;
    overflow: hidden;
    margin: 1% 0% 1% 2%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: QuickSand;
}

.switch-on-off {
    position: relative;
    margin-top: 0%;
    float: right;
    width: 60px;
    height: 34px;
}

.switch-on-off input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4CAF50;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #ccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.filter .condition {
    padding-left: 2%;
}

.filter .condition h2 {
    display: inline;
}

.filter .condition title {
    float: left;
    font-size: 1.5vb;
    cursor: pointer;
}

.filter .condition i {
    float: left;
    margin-right: 4%;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}

.filter .condition i:hover {
    color: gray;
}

.filter .condition h2:hover {
    color: gray;
    cursor: pointer;
}

.filter .condition ul {
    text-decoration: none;
    list-style: none;
    font-size: 3vb;
    padding-left: 5%;
}

.filter .condition li {
    position: relative;
    margin-bottom: 2%;
    cursor: pointer;
}

.filter .condition label,
.filter .condition input {
    cursor: pointer;
}

.filter .condition li:hover {
    font-weight: bolder;
}

.filter .condition .select {
    font-weight: bolder;
}