:root {
    --f-bg: rgb(202, 202, 202);
    --header-color: #0D4659;
    --hover-nav-tool: #176e8b;
    --copyright: #1C1D31;
    --fb: #37599E;
    --ig: #BF1B8F;
    --x: #00A2F9;
    --yt: #B21010;
    --fb-hover: #273f6f;
    --ig-hover: #7a0f5a;
    --x-hover: #003f61;
    --yt-hover: #690a0a;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.footer {
    border-top: 0.1vmin solid var(--f-bg);
    padding-top: 6vmin;
    font-family: QuickSand;
}

.footer .nav-tool {
    width: 80%;
    margin: auto;
    margin-bottom: 6vmin;
    display: flex;
    justify-content: space-between;
}

.footer .nav-tool .tool:first-child {
    width: 26%;
    display: flex;
    align-items: center;
}

.footer .nav-tool a img {
    width: 27.5vmin;
    height: 17.28vmin;

    margin: auto;
}

.footer .nav-tool .tool {
    width: 16%;
}

.footer .nav-tool .tool h3 {
    margin: 0;
    margin-bottom: 3vmin;

    color: var(--header-color);
    font-weight: bold;
    font-size: 3vmin;
}

.footer .nav-tool .tool ul {
    list-style: none;
    padding: 0;
    margin-top: 4vmin;
}

.footer .nav-tool .tool li {
    font-size: 2.3vmin;
    margin-bottom: 1.5vmin;
}

.footer .nav-tool .tool li a {
    color: black;
    text-decoration: none;
}

.footer .nav-tool .tool li a:hover {
    color: var(--hover-nav-tool);
    text-decoration: underline;
}

.footer .nav-tool .tool .social {
    display: flex;
    gap: 10px;
}

.footer .nav-tool .tool .social a {
    text-decoration: none;
}

.footer .nav-tool .tool .social .logo {
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    border-radius: 0.5vmin;
}

.footer .nav-tool .tool .social .logo .fa-brands {
    margin: auto;
    color: white;
    font-size: 2.5vmin;
}

.footer .nav-tool .tool .social #fb {
    background-color: var(--fb);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #ig {
    background-color: var(--ig);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #x {
    background-color: var(--x);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #yt {
    background-color: var(--yt);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #fb:hover {
    background-color: var(--fb-hover);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #ig:hover {
    background-color: var(--ig-hover);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #x:hover {
    background-color: var(--x-hover);
    transition: 0.3s ease-in-out all;
}

.footer .nav-tool .tool .social #yt:hover {
    background-color: var(--yt-hover);
    transition: 0.3s ease-in-out all;
}

.footer .copyright {
    padding: 2vmin 0;
    text-align: center;
    font-size: 2.5vmin;

    color: white;
    background-color: var(--copyright);
}

.footer .copyright a {
    color: white;
    text-decoration: none;
}

.footer .copyright a:hover {
    text-decoration: underline;
}