:root {
    --box-shadow: rgb(174, 174, 174);
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
}

.forgot-password {
    padding-top: 4vmin;
    font-family: QuickSand;
    display: flex;
    flex-direction: column;
    gap: 3vmin;
}

.forgot-password .manual,
.input-region {
    margin: 0 auto;
    width: 44%;
}

.forgot-password .logo {
    padding: 2vmin 0;
    background: linear-gradient(to right top, rgb(122, 240, 255), rgb(125, 125, 255));
}

.forgot-password .logo img {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.forgot-password .manual .content {
    background-color: #F5F5F5;
    border: 0.1vmin solid rgb(207, 207, 207);
    padding: 3vmin;
    font-size: 2.2vmin;
}

.forgot-password .manual .content h2 {
    font-size: 3.5vmin;
    font-weight: bolder;
    margin: 0;
}

.forgot-password .manual .content p {
    margin: 1.5vmin 0;
}

.forgot-password .manual .content ol {
    margin: 1vmin 0;
    padding-left: 5vmin;
}

.forgot-password .input-region {
    background-color: #FDFDFD;
    text-align: center;
    padding: 3vmin;
    box-sizing: border-box;
}

.forgot-password .input-region p {
    margin: 0;
    font-weight: bold;
    font-size: 2.2vmin;
    margin-bottom: 0.7vmin;
}

.forgot-password .input-region #uaemail {
    width: 100%;
    padding: 1.2vmin 1.5vmin;
    font-size: 2vmin;
    box-sizing: border-box;
    box-shadow: 0 0vmin 0.3vmin inset var(--box-shadow);
    border: 0.1vmin solid var(--box-shadow);
    border-radius: 0.7vmin;
    font-family: QuickSand;
}

.forgot-password .input-region #get-new-pass {
    background-color: #7fc1f1;
    border: 0.05vmin solid #66bfff !important;
    color: white;
    cursor: pointer;
    padding: 1.5vmin 2vmin;
    border: none;
    border-radius: 0.5vmin;
    transition: 0.3s ease-in-out background-color;
    margin-top: 3vmin;
}

.forgot-password .input-region #get-new-pass:hover {
    background-color: #71a9d1;
    transition: 0.3s ease-in-out background-color;
}

.forgot-password .anounce {
    position: absolute;
    right: 1%;
    background-color: white;
    display: flex;
    align-items: center;
    width: 30%;
    z-index: 100;
    box-shadow: 0.1vmin 0.1vmin 1vmin 0.1vmin var(--box-shadow);
}

.forgot-password .anounce .color {
    width: 2vmin;
    height: 5vmin;
    background-color: #ff674c;
}

.forgot-password .anounce .content {
    padding: 1vmin 1.5vmin;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.forgot-password .anounce .content #anounce-pass {
    color: #ff674c;
}

.forgot-password .anounce .content i {
    color: gray;
    cursor: pointer;
}

.forgot-password .anounce .content i:hover {
    color: black;
}

.forgot-password .input-region #aaaa {
    color: red;
    font-style: italic;
    margin: 0;
    font-size: 2vmin;
    margin-top: 0.5vmin;
}