:root {
    --box-shadow: rgb(174, 174, 174);
    --sign-up: #e92734;
    --sign-up-hover: #da545d;
    --nav-button-hover: #464bef;
    --more-color: #1165ed;
    --hover-docs: #176e8b;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 4vb;
    font-family: QuickSand;
    box-shadow: 0 0.9vb 1vb var(--box-shadow);
}

.header .nav-bar {
    display: flex;
}

.header .nav-bar .logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.header .nav-bar .logo .box {
    margin: auto;
}

.header .nav-bar .logo .box img {
    width: 23.5vb;
    height: 13.28vb;
}

.header .nav-bar .tool-bar {
    width: 80%;
}

.header .nav-bar .tool-bar .tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vb;
}

.header .nav-bar .tool-bar .tool .search-bar {
    position: relative;
    display: inline-block;
    width: 65%;
}

.header .nav-bar .tool-bar .tool .search-bar .fa-magnifying-glass {
    font-size: 3.5vb;
    color: var(--box-shadow);
    position: absolute;
    right: 3vb;
    top: 50%;
    transform: translateY(-50%);
}

.header .nav-bar .tool-bar .tool .search-bar .fa-magnifying-glass:hover {
    color: gray;
}

.header .nav-bar .tool-bar .tool .search-bar .fa-magnifying-glass:active {
    color: black;
}

.header .nav-bar .tool-bar .tool .search-bar input {
    font-family: QuickSand;
    width: 100%;
    box-sizing: border-box;

    font-size: 2.5vb;

    padding: 2vb 0;
    padding-left: 3vb;

    border-radius: 5vb;

    border: 0.3vb solid var(--box-shadow);
    box-shadow: 0 0.5vb 0.3vb var(--box-shadow);
}

.header .nav-bar .tool-bar .tool .search-bar input::placeholder {
    color: var(--box-shadow);
    font-family: QuickSand;
    font-size: 2.5vb;
}

.header .nav-bar .tool-bar .tool .search-bar input::placeholder:focus {
    color: gray;
}

.header .nav-bar .tool-bar .tool .search-bar input:hover {
    border: 0.3vb solid gray;
}

.header .nav-bar .tool-bar .tool .login-button {
    display: flex;
    align-items: center;
}

.header .nav-bar .tool-bar .tool .login-button .log-in button {
    width: 16vb;
    height: 5.5vb;

    margin-right: 1vb;

    border: none;
    border-radius: 0.7vb;

    font-size: 2.2vb;
    font-family: QuickSand;
    font-weight: bold;

    color: var(--nav-button-hover);
    background-color: white;
}

.header .nav-bar .tool-bar .tool .login-button .log-in button:hover {
    color: white;
    background-color: var(--nav-button-hover);
}

.header .nav-bar .tool-bar .tool .login-button .sign-up button {
    width: 14vb;
    height: 5.5vb;

    margin-right: 5vb;

    border: none;
    border-radius: 0.7vb;

    font-size: 2.2vb;
    font-family: QuickSand;
    font-weight: bold;

    color: white;
    background-color: var(--sign-up);
}

.header .nav-bar .tool-bar .tool .login-button .sign-up button:hover {
    background-color: var(--sign-up-hover);
}

.header .nav-bar .tool-bar .nav {
    display: flex;
}

.header .nav-bar .tool-bar .nav .nav-link {
    width: 100%;
}

.header .nav-bar .tool-bar .nav .nav-link a {
    width: 100%;
    color: black;
    text-decoration: none;
}

.header .nav-bar .tool-bar .nav .nav-link a .nav-button {
    padding: 2vb 0;

    font-size: 2.5vb;
    font-weight: bolder;
    text-align: center;
}

.header .nav-bar .tool-bar .nav .nav-link a .nav-button:hover {
    color: white;
    background-color: var(--nav-button-hover);
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc {
    display: none;
    gap: 10vb;
    position: absolute;

    right: 13%;

    padding: 6vb 9vb;

    border-radius: 2vb;

    box-shadow: 0.3vb 0.3vb 1vb 0.3vb var(--box-shadow);

    background-color: white;
}

.header .nav-bar .tool-bar .nav .docs #courses {
    right: 41%;
}

.header .nav-bar .tool-bar .nav .docs+.header .nav-bar .tool-bar .nav .docs .dropdown-doc:hover,
.header .nav-bar .tool-bar .nav .docs:hover .nav-button {
    color: white;
    background-color: var(--nav-button-hover);
}

.header .nav-bar .tool-bar .nav .docs+.header .nav-bar .tool-bar .nav .docs .dropdown-doc:hover,
.header .nav-bar .tool-bar .nav .docs:hover .nav-button .fa-caret-down {
    color: white;
    transform: rotate(180deg);
}


.header .nav-bar .tool-bar .nav .docs:hover .dropdown-doc {
    display: flex;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list h3 {
    font-size: 2.5vb;
    margin: 0;
    width: fit-content;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list ul {
    list-style: none;
    margin-top: 3.5vb;
    margin-bottom: 2vb;
    padding: 0;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list li {
    font-size: 2.2vb;
    margin-bottom: 1.5vb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list li a {
    width: fit-content;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list li a:hover {
    text-decoration: underline;
    color: var(--hover-docs);
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list .more {
    font-size: 2.0vb;
    text-decoration: none;
    color: var(--more-color);
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list .more:hover {
    text-decoration: underline;
    font-weight: 600;
}

.header .nav-bar .tool-bar .nav .docs .nav-button .fa-caret-down {
    position: relative;
    left: 1vb;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .nav .docs .nav-button:hover .fa-caret-down {
    transform: rotate(180deg);
}