:root {
    --box-shadow: rgb(174, 174, 174);
    --sign-up: #e92734;
    --sign-up-hover: #cf4a53;
    --nav-button-hover: #464bef;
    --more-color: #1165ed;
    --hover-docs: #176e8b;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding-top: 4vmin;
    font-family: QuickSand;
    box-shadow: 0 0.9vmin 1vmin var(--box-shadow);
    z-index: 100;
    position: fixed;
    top: 0;
}

.header .nav-bar {
    display: flex;
}

.header .nav-bar .logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.header .nav-bar .logo .box {
    margin: auto;
}

.header .nav-bar .logo .box img {
    width: 23.5vmin;
    height: 13.28vmin;
}

.header .nav-bar .tool-bar {
    width: 80%;
}

.header .nav-bar .tool-bar .tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vmin;
}

.header .nav-bar .tool-bar .tool .search-bar {
    position: relative;
    display: inline-block;
    width: 65%;
}

.header .nav-bar .tool-bar .tool .search-bar .fa-magnifying-glass {
    font-size: 3.5vmin;
    color: var(--box-shadow);
    position: absolute;
    right: 3vmin;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .tool .search-bar .fa-magnifying-glass:hover {
    color: gray;
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .tool .search-bar .fa-magnifying-glass:active {
    color: black;
}

.header .nav-bar .tool-bar .tool .search-bar input {
    font-family: QuickSand;
    width: 100%;
    box-sizing: border-box;

    font-size: 2.5vmin;

    padding: 2vmin 0;
    padding-left: 3vmin;

    border-radius: 5vmin;

    border: 0.3vmin solid var(--box-shadow);
    box-shadow: 0 0.5vmin 0.3vmin var(--box-shadow);

    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .tool .search-bar input::placeholder {
    color: var(--box-shadow);
    font-family: QuickSand;
    font-size: 2.5vmin;
}

.header .nav-bar .tool-bar .tool .search-bar input::placeholder:focus {
    color: gray;
}

.header .nav-bar .tool-bar .tool .search-bar input:hover {
    border: 0.3vmin solid gray;
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .tool .login-button {
    display: flex;
    align-items: center;
}

.header .nav-bar .tool-bar .tool .login-button .log-in button {
    width: 16vmin;
    height: 5.5vmin;

    margin-right: 1vmin;

    border: none;
    border-radius: 0.7vmin;

    font-size: 2.2vmin;
    font-family: QuickSand;
    font-weight: bold;

    color: var(--nav-button-hover);
    background-color: white;

    transition: 0.3s ease-in-out all;
    cursor: pointer;
}

.header .nav-bar .tool-bar .tool .login-button .log-in button:hover {
    color: white;
    background-color: var(--nav-button-hover);
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .tool .login-button .sign-up button {
    width: 14vmin;
    height: 5.5vmin;

    margin-right: 5vmin;

    border: none;
    border-radius: 0.7vmin;

    font-size: 2.2vmin;
    font-family: QuickSand;
    font-weight: bold;

    color: white;
    background-color: var(--sign-up);

    transition: 0.3s ease-in-out all;
    cursor: pointer;
}

.header .nav-bar .tool-bar .tool .login-button .sign-up button:hover {
    background-color: var(--sign-up-hover);
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .nav {
    display: flex;
}

.header .nav-bar .tool-bar .nav .nav-link {
    width: 100%;
}

.header .nav-bar .tool-bar .nav .nav-link a {
    width: 100%;
    color: black;
    text-decoration: none;
}

.header .nav-bar .tool-bar .nav .nav-link a .nav-button {
    padding: 2vmin 0;

    font-size: 2.5vmin;
    font-weight: bolder;
    text-align: center;

    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .nav .nav-link a .nav-button:hover {
    color: white;
    background-color: var(--nav-button-hover);

    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc {
    display: none;
    gap: 10vmin;
    position: absolute;

    right: 13.5%;

    padding: 6vmin 9vmin;
    margin-top: 0.1vmin;

    border-radius: 2vmin;

    box-shadow: 0.3vmin 0.3vmin 1vmin 0.3vmin var(--box-shadow);

    background-color: white;
}

.header .nav-bar .tool-bar .nav .docs #courses {
    right: 41.5%;
}

.header .nav-bar .tool-bar .nav .docs+.header .nav-bar .tool-bar .nav .docs .dropdown-doc:hover,
.header .nav-bar .tool-bar .nav .docs:hover .nav-button {
    color: white;
    background-color: var(--nav-button-hover);
}

.header .nav-bar .tool-bar .nav .docs+.header .nav-bar .tool-bar .nav .docs .dropdown-doc:hover,
.header .nav-bar .tool-bar .nav .docs:hover .nav-button .fa-caret-down {
    color: white;
    transform: rotate(180deg);
}


.header .nav-bar .tool-bar .nav .docs:hover .dropdown-doc {
    display: flex;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list h3 {
    font-size: 2.5vmin;
    margin: 0;
    width: fit-content;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list ul {
    list-style: none;
    margin-top: 3.5vmin;
    margin-bottom: 2vmin;
    padding: 0;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list li {
    font-size: 2.2vmin;
    margin-bottom: 1.5vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list li a {
    width: fit-content;
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list li a:hover {
    text-decoration: underline;
    color: var(--hover-docs);
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list .more {
    font-size: 2.0vmin;
    text-decoration: none;
    color: var(--more-color);
}

.header .nav-bar .tool-bar .nav .docs .dropdown-doc .doc-list .more:hover {
    text-decoration: underline;
    font-weight: 600;
}

.header .nav-bar .tool-bar .nav .docs .nav-button .fa-caret-down {
    position: relative;
    left: 1vmin;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.header .nav-bar .tool-bar .nav .docs .nav-button:hover .fa-caret-down {
    transform: rotate(180deg);
}