:root {
    --box-shadow: rgb(174, 174, 174);
    --h-background: rgb(240, 240, 240);
    --h-header: #4F97FF;
    --h-circle-shadow: rgb(59, 59, 255);
    --h-mini-bg: rgb(253, 253, 253);
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.history {
    background-color: var(--h-background);
    font-family: QuickSand;
    padding: 6vmin 0;
}

.history h1 {
    color: var(--h-header);
    text-align: center;
    font-size: 5vmin;
    margin: 0;
    margin-bottom: 4vmin;
}

.history .timeline {
    margin: 0 auto;
    max-width: 80%;
    padding: 3.5vmin;
    display: grid;
    grid-template-columns: 1fr 0.25vmin 1fr;
    color: black;
}

.history .timeline__component {
    margin: 4vmin;
    margin-top: 0;
}

.history .timeline__component--bg {
    padding: 4vmin;
    background: var(--h-mini-bg);
    box-shadow: 0.1vmin 0.1vmin 1vmin 0.1vmin var(--box-shadow);
    border-radius: 1.5vmin;
}

.history .timeline__component--bottom {
    margin-bottom: 10vmin;
}

.history .timeline__middle {
    position: relative;
    background: black;
}

.history .timeline__middle--last {
    background: none;
}

.history .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2.2vmin;
    height: 2.2vmin;
    box-shadow: 0.1vmin 0.1vmin 2.5vmin 0.1vmin var(--h-circle-shadow);
    background: var(--h-header);
    border-radius: 50%;
}

.history .timeline__point--bottom {
    top: initial;
    bottom: 0;
}

.history .timeline__date {
    font-size: 2.2vmin;
    color: gray;
    font-weight: bold;
}

.history .timeline__date--right {
    text-align: right;
}

.history .timeline__title {
    margin: 0;
    font-size: 4vmin;
    font-weight: bold;
    color: var(--h-header);
}

.history .timeline__paragraph {
    font-size: 2.2vmin;
    line-height: 1.5;
}

.history .timeline__image {
    width: 50%;
    border: 1vmin solid white;
    border-radius: 1vmin;
    box-shadow: 0 0 0.2vmin 0 var(--box-shadow);
}