:root {
    --box-shadow: rgb(174, 174, 174);
    --hf-header: #161867;
    --hf-bullet: #B3B4C9;
    --hf-bullet-active: #464bef;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.homepage-feedback {
    font-size: 2.5vmin;
    text-align: center;
    font-family: QuickSand;
    overflow: hidden;
    height: 100%;
    padding: 7.5vmin 0;
}

.homepage-feedback .section-title {
    width: 100%;
}

.homepage-feedback .section-title h1 {
    color: var(--hf-header);
    margin: 0;
    font-size: 5vmin;
    margin-bottom: 5vmin;
    margin-left: 1.75vmin;
}

.homepage-feedback .section-separator {
    float: left;
    width: 100%;
    position: relative;
}

.homepage-feedback .section-separator::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 0.7vmin;
    width: 20vmin;
    border-radius: 2vmin;
    background-color: var(--hf-bullet);
    margin-left: -9vmin;
}

.homepage-feedback .testi-item {
    transition: all .3s ease-in-out;
    transform: scale(0.8);
    opacity: 0.6;
}

.homepage-feedback .testimonials-text {
    padding: 12vmin 4vmin 11.5vmin;
    background: white;
    box-shadow: 0.1vmin 0.1vmin 1vmin 0.1vmin var(--box-shadow);
    border-radius: 2vmin;
    transition: all .3s ease-in-out;
    width: 67vmin;
    box-sizing: border-box;
}

.homepage-feedback .testimonial-text-after {
    position: absolute;
    color: #108cee;
    opacity: .3;
    font-size: 7vmin;
    bottom: 4vmin;
    right: 4.5vmin;
}

.homepage-feedback .testimonial-text-before {
    position: absolute;
    color: #108cee;
    opacity: .3;
    font-size: 7vmin;
    top: 4vmin;
    left: 4.5vmin;
}

.homepage-feedback .testimonials-text .listing-rating {
    margin-bottom: 1vmin;
}

.homepage-feedback .listing-rating i {
    color: #0071ff;
}

.homepage-feedback .testimonials-avatar h3 {
    color: #7d93b2;
    font-size: 3.5vmin;
    margin: 0;
}

.homepage-feedback .testimonials-avatar h4 {
    margin: 0;
    font-size: 3vmin;
    padding-top: 1vmin;
    color: #007aff;
}

.homepage-feedback .testimonials-carousel .swiper-slide {
    padding: 3vmin 0;
}

.homepage-feedback .testi-avatar {
    position: absolute;
    left: 50%;
    top: -8vmin;
    width: 15vmin;
    height: 15vmin;
    margin-left: -7.75vmin;
}

.homepage-feedback .testi-avatar img {
    width: 15vmin;
    height: 15vmin;
    border-radius: 100%;
    border: 1vmin solid #fff;
    box-shadow: 0 1vmin 2.6vmin rgba(58, 87, 135, 0.1);
}

.homepage-feedback .testimonials-text p {
    color: #878c9f;
    font-size: 2.2vmin;
    font-size: italic;
    line-height: 1.5;
    font-weight: 500;
}

.homepage-feedback .swiper-slide-active .testi-item {
    opacity: 1;
    transform: scale(1.0);
}

.homepage-feedback .swiper-pagination {
    float: left;
    margin-top: 2vmin;
    width: 100% !important;
}

.homepage-feedback .swiper-pagination-bullet {
    float: none;
    display: inline-block;
    background-color: var(--hf-bullet);
    border-radius: 50%;
    height: 2vmin;
    width: 2vmin;
    margin: 0 1.2vmin;
    border-bottom: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.homepage-feedback .swiper-pagination-bullet:hover {
    background-color: var(--hf-bullet-active);
    transition: all 0.3s ease-in-out;
}

.homepage-feedback .swiper-pagination-bullet-active {
    background-color: var(--hf-bullet-active);
}