:root {
    --inset-shadow: rgb(192, 192, 192);
    --button-color: #2f71dc;
    --button-color-hover: #427fe0;
    --header-color: #161867;
    --input-border: rgb(176, 176, 176);
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.intro-log-in {
    margin: auto;

    font-family: QuickSand;
    display: flex;
}

.intro-log-in .intro {
    width: 60%;
    background-image: url(../images/banner-01.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom left 10vb;
}

.intro-log-in .intro .slogan {
    width: fit-content;

    padding: 4vb 5vb;

    position: relative;
    top: 50vb;
    left: 53vb;
    background-color: white;
}

.intro-log-in .intro .slogan h1 {
    font-size: 5.5vb;
    margin: 0;
    margin-bottom: 1vb;
    color: var(--header-color);
    font-weight: bolder;
}

.intro-log-in .intro .slogan p {
    font-size: 3.2vb;
    margin: 0;
    margin-top: 1.5vb;
    color: var(--button-color);
    font-weight: 550;
}

.intro-log-in .log-in {
    width: 40%;
    display: flex;
    align-items: center;
    background-image: url(../images/circle-blue.png);
    background-size: 90%;
    background-position: top right;
    background-repeat: no-repeat;
}

.intro-log-in .log-in .input-region {
    width: 70%;

    margin: 10vb auto;
    padding: 4.5vb 3vb;

    border-radius: 2vb;
    box-shadow: 0.2vb 0.2vb 1vb 0.2vb gray;
    background-color: white;
}

.intro-log-in .log-in .input-region h3 {
    font-size: 3vb;
    font-weight: bolder;
    margin-bottom: 3vb;
    color: var(--header-color);
}

.intro-log-in .log-in .input-region input:not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 3vb;
    font-size: 2vb;
    font-family: QuickSand;

    border: 0.1vb solid var(--input-border);
    border-radius: 0.5vb;
    box-shadow: inset 0.01vb 0.01vb 0.5vb 0.01vb var(--inset-shadow);

    padding: 1.5vb;
}

.intro-log-in .log-in .input-region input:not([type="checkbox"])::placeholder {
    font-size: 2vb;
    font-family: QuickSand;
}

.intro-log-in .log-in .input-region .accept-term {
    display: flex;
    align-items: center;
    margin-bottom: 3vb;
}

.intro-log-in .log-in .input-region input[type="checkbox"] {
    width: 2vb;
    height: 2vb;
    margin-right: 1vb;
}

.intro-log-in .log-in .input-region label {
    font-size: 2.2vb;
}

.intro-log-in .log-in .input-region button {
    width: 100%;

    padding: 1.7vb;

    font-weight: bolder;
    font-size: 2.2vb;
    font-family: QuickSand;

    border: none;
    border-radius: 1.2vb;

    color: white;
    background-color: var(--button-color);
    cursor: pointer;
}

.intro-log-in .log-in .input-region button:hover {
    background-color: var(--button-color-hover);
}

.intro-log-in .log-in .input-region p {
    margin: 3vb 0;
    text-align: center;
    font-size: 2.2vb;
}

.intro-log-in .log-in .input-region .account {
    width: fit-content;
    display: flex;
    gap: 3vb;
    margin: auto
}

.intro-log-in .log-in .input-region .account .account-logo {
    width: 7vb;
    height: 7vb;

    display: flex;
    align-items: center;

    border: 0.1vb solid black;
    border-radius: 50%;
}

.intro-log-in .log-in .input-region .account i {
    font-size: 4vb;
    margin: auto;
}

.intro-log-in .log-in .input-region .account #microsoft {
    color: #00A4F5;
    border-color: #00A4F5;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #facebook {
    color: #36589D;
    border-color: #36589D;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #google {
    color: #EA230F;
    border-color: #EA230F;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #github {
    color: #4c515f;
    border-color: #4c515f;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #microsoft:hover {
    color: white;
    background-color: #00A4F5;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #facebook:hover {
    color: white;
    background-color: #36589D;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #google:hover {
    color: white;
    background-color: #EA230F;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account #github:hover {
    color: white;
    background-color: #4c515f;
    transition: 0.3s ease-in-out all;
}

.intro-log-in .log-in .input-region .account a {
    text-decoration: none;
}