:root {
    --box-shadow: rgb(174, 174, 174);
    --o-header: #4F97FF;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

.ourteam {
    font-family: QuickSand;
    padding: 6vb 0;
}

.ourteam h1 {
    text-align: center;
    color: var(--o-header);
    font-size: 5vb;
    margin: 0;
    margin-bottom: 5vb;
}

.ourteam .avatars {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ourteam .member .member-image {
    margin: 0 auto;
    width: 50%;
}

.ourteam .member .member-image img {
    width: 100%;
    border-radius: 50%;
}

.ourteam .member .member-name {
    font-weight: bold;
    font-size: 3vb;
    margin-top: 2vb;
}

.ourteam .member .member-id {
    font-size: 2.5vb;
    margin-top: 1vb;
    color: gray;
    font-weight: bold;
}