:root {
    --rc-box-shadow: rgb(174, 174, 174);
    --rc-header-color: #161867;
    --rc-button-hover: #6166e4;
    --rc-circle-hover: #d9d9d9;
}

@font-face {
    font-family: QuickSand;
    src: url(../font/Quicksand-VariableFont_wght.ttf);

    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.recommend-courses {
    padding: 8vmin 2vmin;
    font-family: QuickSand;
    background-image: url(../images/re-courses-banner.jpg);
}

.recommend-courses h1 {
    display: flex;

    width: fit-content;

    margin: 0;

    color: var(--rc-header-color);
    font-size: 5vmin;
    align-items: center;
}

.recommend-courses h1 .long-dash {
    display: inline-block;

    width: 1.5em;
    height: 0.5vmin;

    margin: 0 0.25em;
    border-radius: 2vmin;

    background-color: var(--rc-header-color);
}

.recommend-courses .selection-section {
    display: flex;

    width: fit-content;

    font-size: 2.5vmin;

    margin: 6vmin auto;

    border-radius: 2vmin;

    background-color: white;

    box-shadow: 0.1vmin 0.1vmin 1vmin 0.1vmin var(--rc-box-shadow);
}

.recommend-courses .option-section {
    font-weight: bold;
    padding: 3vmin 5vmin;
    border-radius: 2vmin;
    transition: 0.3s ease-in-out;
    transition-property: color, background-color;
    cursor: pointer;
}

.recommend-courses .option-section:hover {
    color: white;
    background-color: var(--rc-button-hover);
    transition: 0.3s ease-in-out;
    transition-property: color, background-color;
}

.recommend-courses .selected {
    color: white;
    background-color: var(--rc-button-hover);
}

.recommend-courses .courses-choosing {
    display: flex;
    align-items: center;
    gap: 3vmin;
    margin: 0 auto;
    transition: opacity 0.3s;
    margin-bottom: 4vmin;
}

.recommend-courses .courses-choosing .fa-caret-left,
.fa-caret-right {
    color: white;
    font-size: 12vmin;
    text-shadow: 0.1vmin 0.1vmin 1vmin var(--rc-box-shadow);
    cursor: pointer;
    transition: 0.3s ease-in-out color;
}

.recommend-courses .course-frame {
    display: flex;
    border-radius: 2vmin;
    background-color: white;
}

.recommend-courses .carousel {
    display: none;
    overflow: hidden;
}

.recommend-courses .carousel:first-child {
    display: flex;
}

.recommend-courses .courses-section {
    width: 100%;
    flex: 0 0 auto;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.5vmin;

    padding: 3.5vmin;

    transition: transform 0.3s ease-in-out;
}

.recommend-courses .course {
    position: relative;
    border: 0px;
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.266);
    border-radius: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.recommend-courses .course:hover {
    margin-left: -1%;
    margin-top: -1%;
    box-shadow: 4px 4px 13px 0px black;
}

.recommend-courses .course a {
    position: relative;
    font-size: 2.4vmin;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    padding: 0% 0% 0% 5%;
    height: 30%;
    transition: text-decoration 0.3s;
}

.recommend-courses .course a:hover {
    text-decoration: underline;
}

.recommend-courses .course img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0% 0% 3% -5%;
    width: 100%;
    height: 200px;
}

.recommend-courses .course .info {
    margin: 5% 5% 5% 5%;
    line-height: 4.3vmin;
    font-size: 2vmin;
    height: 20%;
    margin-bottom: 15%;
}

.recommend-courses  .course .info i {
    position: relative;
    float: left;
    margin: 2% 3% 0% 0%;
}

.recommend-courses  .course .time-student {
    position: absolute;
    top: 92%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-column-gap: 0%;
}

.recommend-courses  .course .time-student .time {
    text-align: left;
    margin-left: 10%;
    font-size: 2vmin;
}

.recommend-courses  .course .time-student .star {
    text-align: center;
    font-size: 2vmin;
    margin-left: -2%;
}

.recommend-courses  .course .time-student .time i,
.recommend-courses  .course .time-student .star i {
    margin: 1% 5% 1% 1%;
    float: left;
    color: gold;
}

.recommend-courses  .course .time-student .student {
    text-align: right;
    margin: 0% 10% 0% 0%;
    font-size: 2vmin;
}

.recommend-courses .course .time-student .student i {
    float: left;
    margin: 1% 0% 1% 31%;
    color: black;
}

.recommend-courses .button-selection {
    display: flex;
    gap: 3.5vmin;
    width: fit-content;
    margin: auto;
}

.recommend-courses .circle {
    width: 2.5vmin;
    height: 2.5vmin;

    border-radius: 50%;
    background-color: white;

    box-shadow: 0 0 0.5vmin var(--rc-box-shadow);
    cursor: pointer;
    transition: 0.3s ease-in-out background-color;
}

.recommend-courses .circle:hover {
    background-color: var(--rc-circle-hover) !important;
    transition: 0.3s ease-in-out background-color;
}

.recommend-courses .fa-caret-left:hover,
.fa-caret-right:hover {
    color: var(--rc-circle-hover);
    transition: 0.3s ease-in-out color;
}